In [1]:
# !pip install tqdm
import numpy as np
import pandas as pd
import datetime as dt
import scipy as sci
import tqdm 
from tqdm import tqdm

# Citi Bike Data Sept. 2013-2019

### Extract data

In [2]:
# Files to Load (Remember to Change These) from year 2014 - four months: 03 - 06 - 09 - 12
file01 = "data/201309-citibike-tripdata.csv"
file02 = "data/201409-citibike-tripdata.csv"
file03 = "data/201509-citibike-tripdata.csv"
file04 = "data/201609-citibike-tripdata.csv"
file05 = "data/201709-citibike-tripdata.csv"
file06 = "data/201809-citibike-tripdata.csv"
file07 = "data/201909-citibike-tripdata.csv"

# Read Purchasing File and store into Pandas data frame
td_2013 = pd.read_csv(file01)
td_2013.name = '2013'
td_2014 = pd.read_csv(file02)
td_2014.name = '2014'
td_2015 = pd.read_csv(file03)
td_2015.name = '2015'
td_2016 = pd.read_csv(file04)
td_2016.name = '2016'
td_2017 = pd.read_csv(file05)
td_2017.name = '2017'
td_2018 = pd.read_csv(file06)
td_2018.name = '2018'
td_2019 = pd.read_csv(file07)
td_2019.name = '2019'

In [4]:
## make DFs for each year into a list to iterate
df_list = [td_2013, td_2014, td_2015, td_2016, td_2017, td_2019]
df2_list = [td_2013, td_2014, td_2015, td_2016, td_2017, td_2018, td_2019]
# last_minute = [td_2013, td_2019]

#### Clean and format data for 2013

In [5]:
## Find out datatypes and null-values in separate files
for df in df2_list:
    print(f"--------{df.name}---------")
    print(f"{df.name}: {len(df)}")
    print("-----------------")
    print(df.dtypes)
    print("-----------------")
    print(df.isnull().sum())

--------2013---------
2013: 1034359
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64
--------2014---------
2014: 953887
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64
--------2015---------
2015: 1048575
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64
--------2016---------
2016: 1048575
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64
--------2017---------
2017: 1048575
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64
--------2018---------
2018: 1048575
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration                 0
starttime                    0
stoptime                     0
start station id           462
start station name         462
start station latitude       0
start station longitude      0
end station id             462
end station name           462
end station latitude         0
end station longitude        0
bikeid                       0
usertype                     0
birth year                   0
gender                       0
dtype: int64
--------2019---------
2019: 2444900
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

##### Time and Year

Convert starttime and stoptime columns to datetime and keep time in new column; drop original columns

In [ ]:
for df in tqdm(df_list):
    df['start_time'] = pd.to_datetime(df['starttime']).dt.time
    df['stop_time'] = pd.to_datetime(df['stoptime']).dt.time
    df['year'] = pd.to_datetime(df['stoptime']).dt.year

    df.drop(["starttime","stoptime"], axis=1, inplace=True)
    df

 17%|█▋        | 1/6 [04:50<24:13, 290.80s/it]

In [ ]:
for df in tqdm(last_minute):
    df['start_time'] = pd.to_datetime(df['starttime']).dt.time
    df['stop_time'] = pd.to_datetime(df['stoptime']).dt.time
    df['year'] = pd.to_datetime(df['stoptime']).dt.year

    df.drop(["starttime","stoptime"], axis=1, inplace=True)

In [ ]:
td_2013

In [ ]:
## create Year column for 2018 and 2019 datasets
td_2018["year"] = 2018
td_2019["year"] = 2019

##### Age and Age-groups

Calculate age of rider from birthyear column and keep in new column "age".
Birthyear rows with null-values will be converted to "2020" (e.i., 2020 - 2020 = 0 = age)

In [ ]:
### check count for null-values; transform null-values into "2020"; check count for null-vales
for df in tqdm(df2_list):
    print(f"--------{df.name}---------")
    print(df["birth year"].isnull().sum())
    df['birth year'].fillna(2020)
    print(df["birth year"].isnull().sum())

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year

td_2013["age"] = currentyear - df[["birth year"]]
    ### set conditions for age-group categories
conditions = [
    (td_2013['age'] <= 15),
    (td_2013['age'] >= 16) & (td_2013['age'] <= 24),
    (td_2013['age'] >= 25) & (td_2013['age'] <= 44),
    (td_2013['age'] >= 45) & (td_2013['age'] <= 64),
    (td_2013['age'] >= 65) & (td_2013['age'] <= 105),
    (td_2013['age'] > 105)]
choices = [0, 1, 2, 3, 4, 5]
    ### Create new column for age-group categories 
td_2013['age_group'] = np.select(conditions, choices, default='0')
print(td_2013.head())

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year
## Create new column
for df in tqdm(df2_list):
    df["age"] = currentyear - df[["birth year"]]
    ### set conditions for age-group categories
    conditions = [
        (df['age'] <= 15),
        (df['age'] >= 16) & (df['age'] <= 24),
        (df['age'] >= 25) & (df['age'] <= 44),
        (df['age'] >= 45) & (df['age'] <= 64),
        (df['age'] >= 65) & (df['age'] <= 105),
        (df['age'] > 105)]
    choices = [0, 1, 2, 3, 4, 5]
    ### Create new column for age-group categories 
    df['age_group'] = np.select(conditions, choices, default='0')
    print(df.head())

##### Gender and user-type (NOT WORKING)

One-hot encoding for Gender and Usertype columns

In [ ]:
# for df in tqdm(df2_list):
#     df = pd.get_dummies(df, columns=["gender", "usertype"])
#     df = df.rename(columns={"gender_1" : "male", "gender_2": "female"})
#     print(df.head())

In [ ]:
td_2018 = td_2018.rename(columns={"starttime" : "start_time", "stoptime": "stop_time"})

Reorganize columns to match

In [ ]:
for df in df2_list:
    df = df[['tripduration', 'start station id', 'start station name',
       'start station latitude', 'start station longitude', 'end station id',
       'end station name', 'end station latitude', 'end station longitude',
       'bikeid', 'usertype', 'birth year', 'gender', 'start_time', 'stop_time',
       'year', 'age', 'age_group']]

In [ ]:
# ## change format of column names using .lower() to match other 2016 datasets
# td_2013.columns = map(str.lower, df.columns)
# # df = df.rename(columns={'trip duration': 'tripduration', 'start time' : 'starttime', 'stop time': 'stoptime','bike id': 'bikeid', 'user type': 'usertype'})

td_2018.columns

## Export Station ID and Names as new csv

Create new DF of Station Info to link ID to station name

In [ ]:
for df in tqdm(df2_list):
    start_stations = df[["start station id", "start station name", "start station latitude", "start station longitude", "year"]].copy()
    end_stations = df[["end station id", "end station name", "end station latitude", "end station longitude", "year"]].copy()
    start_stations = start_stations.drop_duplicates().sort_values(by=['start station id']).reset_index()
    end_stations = end_stations.drop_duplicates().sort_values(by=['end station id']).reset_index()
    start_stations = start_stations.drop("index", axis=1)
    start_stations = start_stations.rename(columns={"start station id" : "station id", "start station name": "station name", "start station latitude": "station latitude", "start station longitude": "station longitude"})
    end_stations = end_stations.drop("index", axis=1)
    end_stations = end_stations.rename(columns={"end station id" : "station id", "end station name": "station name", "end station latitude": "station latitude", "end station longitude": "station longitude"})
    print(f"{df.name}: {len(start_stations)}")
    print(f" {df.name} : {len(end_stations)}")
    stations = pd.concat([start_stations, end_stations], axis=0, ignore_index=True, sort=True)  
    stations = stations.drop_duplicates().sort_values(by=['station id']).reset_index()
    stations = stations.drop("index", axis=1)
    print(f"total stations: {len(stations)}")
    print("----------------")
    stations.to_csv(f"CB_{df.name}Stations_Info.csv", index=True)

### Load all data into one DF

In [ ]:
## concatenate 201406 and 201412 DFs
data_09_13to19 = pd.concat(df_list)
datacopy = data_09_13to19.copy()
print(f"original: {len(data_09_13to19)}")
print(f" copy: {len(datacopy)}")
datacopy

In [ ]:
print(datacopy.isnull().sum())
print("-------------------------")
print(datacopy.dtypes)
print("-------------------------")
print(datacopy.columns)

In [ ]:
datacopy = datacopy.dropna()

In [ ]:
print(f"original: {len(data_09_13to19)}")
print(f"DF: {len(datacopy)}")

### Transform ALL year data - in datacopy DF

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year

## Create new column
datacopy["age"] = currentyear - datacopy[["birth year"]]

datacopy

In [ ]:
print(datacopy.isnull().sum())
print("-------------------------")
print(datacopy.dtypes)

In [ ]:
print(f"DF: {len(datacopy)}")

### Export ALL data (2013-2019)

In [ ]:
# export main file as csv
datacopy.to_csv("CBtripdata-SEPT_13-19.csv", index=False)

# Citi Bike Data 2013

### Transform data from source files

In [ ]:
## Find out datatypes and null-values in separate files
print(td_2013.dtypes)
print(td_2013.isnull().sum())
print("-----------------")

In [ ]:
## convert starttime and stoptime to timestamp format in new column
test = td_2013.copy()

for index, row in test.iterrows(): 
    string = row["starttime"]
    element = dt.datetime.strptime(string,"%m/%d/%Y %H:%M") 
    test["starttimestamp"] = dt.datetime.timestamp(element) 

    # string2 = row["stoptime"]
    # element = datetime.datetime.strptime(string2,"%Y-%m-%d %H:%M:%S.%f") 
    # test["stoptimestamp"] = datetime.datetime.timestamp(element) 

# # iterate through each row and select  
# for ind in test.index: 
#      string = test["starttime"]
#      element = datetime.datetime.strptime(string,"%Y-%m-%d %H:%M:%S.%f") 
#      test["starttimestamp"] = datetime.datetime.timestamp(element) 

#      string2 = test["stoptime"]
#      element = datetime.datetime.strptime(string2,"%Y-%m-%d %H:%M:%S.%f") 
#      test["stoptimestamp"] = datetime.datetime.timestamp(element) 

test

### Transform Data

In [ ]:
## change formate of column names using .lower() to match other 2016 datasets
td_201612.columns = map(str.lower, td_201612.columns)
td_201612 = td_201612.rename(columns={'trip duration': 'tripduration', 'start time' : 'starttime', 'stop time': 'stoptime','bike id': 'bikeid', 'user type': 'usertype'})

td_201612.columns

In [ ]:
## Want to keep cases with null-values in "birth year" column
## Replace NA with "2020" instead of dropping to later separate into age group bins
td_201603['birth year'] = td_201603['birth year'].fillna(2020)
td_201606['birth year'] = td_201606['birth year'].fillna(2020)
td_201609['birth year'] = td_201609['birth year'].fillna(2020)
td_201612['birth year'] = td_201612['birth year'].fillna(2020)

In [ ]:
## Find out datatypes and null-values in separate files
print(td_201603.dtypes)
print(td_201603.isnull().sum())
print("-----------------")
print(td_201606.dtypes)
print(td_201606.isnull().sum())
print("-----------------")
print(td_201609.dtypes)
print(td_201609.isnull().sum())
print("-----------------")
print(td_201612.dtypes)
print(td_201612.isnull().sum())

In [ ]:
td_201612['usertype'] = td_201612['usertype'].dropna()

In [ ]:
## Find out datatypes and null-values in separate files
print(td_201603.dtypes)
print(td_201603.isnull().sum())
print("---------06--------")
print(td_201606.dtypes)
print(td_201606.isnull().sum())
print("--------09---------")
print(td_201609.dtypes)
print(td_201609.isnull().sum())
print("--------12---------")
print(td_201612.dtypes)
print(td_201612.isnull().sum())

In [ ]:
## concatenate 201603, 201606, 201609 and 201612 DFs
td2016 = pd.concat([td_201603, td_201606, td_201609, td_201612], axis=0, ignore_index=True)
print(len(td2016))
copy2016 = td2016.copy()
copy2016.dropna()

In [ ]:
copy2016 = copy2016.dropna()
print(len(td2016))

In [ ]:
## check new DF for null-values and data-types
print(len(td2016))
print(copy2016.isnull().sum())
print("-------------------------")
print(copy2016.dtypes)
print("-------------------------")
print(copy2016.columns)

### Transform data in copy2016

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year

## Create new column
copy2016["age"] = currentyear - copy2016[["birth year"]]

copy2016

In [ ]:
## parse date and time into new columns
copy2016["start"] = pd.to_datetime(copy2016["starttime"])
copy2016["stop"] = pd.to_datetime(copy2016["stoptime"])
copy2016["startdate"] = pd.to_datetime(copy2016['start']).dt.date
copy2016['starttime'] = pd.to_datetime(copy2016['start']).dt.time
copy2016["stopdate"] = pd.to_datetime(copy2016['stop']).dt.date
copy2016['stoptime'] = pd.to_datetime(copy2016['stop']).dt.time

In [ ]:
copy2016

In [ ]:
## add column names to list to reorganize DF
cols = list(copy2016.columns)
cols

In [ ]:
cols = ['tripduration','start','stop','start station id','start station name','start station latitude','start station longitude','end station id','end station name','end station latitude','end station longitude','bikeid','usertype','birth year','age','gender','startdate','starttime', 'stopdate','stoptime']

copy2016 = copy2016[cols]

copy2016.head()

### Export copy2016 to csv

In [ ]:
# export main file as csv
copy2016.to_csv("tripdataFULL_2016.csv", index=False)

## Citi Bike Data 2018

### Extract 2018 data from files

In [ ]:
# File to Load - year: 2016 ; four months: 03 - 06 - 09 - 12
file01 = "TripData/2018/201803-citibike-tripdata.csv"
file02 = "TripData/2018/201806-citibike-tripdata.csv"
file03 = "TripData/2018/201809-citibike-tripdata.csv"
file04 = "TripData/2018/201812-citibike-tripdata.csv"

# Read Purchasing File and store into Pandas data frame
td_201803 = pd.read_csv(file01)
td_201806 = pd.read_csv(file02)
td_201809 = pd.read_csv(file03)
td_201812 = pd.read_csv(file04)

In [ ]:
## Find out datatypes and null-values in separate files
print(td_201803.dtypes)
print(td_201803.isnull().sum())
print("-----------------")
print(td_201806.dtypes)
print(td_201806.isnull().sum())
print("-----------------")
print(td_201809.dtypes)
print(td_201809.isnull().sum())
print("-----------------")
print(td_201812.dtypes)
print(td_201812.isnull().sum())

In [ ]:
td_201803 = td_201803.dropna()
td_201806 = td_201806.dropna()
td_201809 = td_201809.dropna()
td_201812 = td_201812.dropna()

print(td_201803.isnull().sum())
print("--------06---------")
print(td_201806.isnull().sum())
print("--------09---------")
print(td_201809.isnull().sum())
print("--------12---------")
print(td_201812.isnull().sum())

In [ ]:
## check column headers are the same

print(td_201803.columns)
print(td_201806.columns)
print(td_201809.columns)
print(td_201812.columns)

In [ ]:
## concatenate 201603, 201606, 201609 and 201612 DFs
td2018 = pd.concat([td_201803, td_201806, td_201809, td_201812], axis=0, ignore_index=True)
print(len(td2018))
copy2018 = td2018.copy()

In [ ]:
## view new DF
copy2018

In [ ]:
## check for null-values in new DF; print length of original and copy
print(f"original: {len(td2018)}")
print(f"copy2018: {len(copy2018)}")
print(f"null-values: {copy2018.isnull().count()}")

In [ ]:
## check new DF for null-values
copy2018.dropna()

In [ ]:
#convert starttime and stoptime columns to datetime object (rename start and stop) and parse date from time and create new columns
copy2018["start"] = pd.to_datetime(copy2018["starttime"])
copy2018["stop"] = pd.to_datetime(copy2018["stoptime"])
copy2018["startdate"] = pd.to_datetime(copy2018['start']).dt.date
copy2018['starttime'] = pd.to_datetime(copy2018['start']).dt.time
copy2018["stopdate"] = pd.to_datetime(copy2018['stop']).dt.date
copy2018['stoptime'] = pd.to_datetime(copy2018['stop']).dt.time

copy2018

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year

## Create new column
copy2018["age"] = currentyear - copy2018[["birth year"]]

copy2018

In [ ]:
## add column names to list to reorganize DF
cols = list(copy2018.columns)
cols

In [ ]:
cols = ['tripduration','start','stop','start station id','start station name','start station latitude','start station longitude','end station id','end station name','end station latitude','end station longitude','bikeid','usertype','birth year','age','gender','startdate','starttime', 'stopdate','stoptime']

copy2018 = copy2018[cols]

copy2018.head()

In [ ]:
print(copy2018.isnull().count())
print(copy2018.dtypes)

In [ ]:
copy2018.to_csv("tripdataFULL_2018.csv", index=False)

## Load all FULL year data into one file

In [ ]:
# File to Load - year: 2016 ; four months: 03 - 06 - 09 - 12
file01 = "tripdataFULL_2014.csv"
file02 = "tripdataFULL_2016.csv"
file03 = "tripdataFULL_2018.csv"


# Read Purchasing File and store into Pandas data frame
td_2014 = pd.read_csv(file01)
td_2016 = pd.read_csv(file02)
td_2018 = pd.read_csv(file03)

In [ ]:
## Find out datatypes and null-values in separate files
print("--------2014---------")
print(td_2014.dtypes)
print(td_2014.isnull().sum())
print("--------2016---------")
print(td_2016.dtypes)
print(td_2016.isnull().sum())
print("-------2018----------")
print(td_2018.dtypes)
print(td_2018.isnull().sum())

In [ ]:
td_2014.drop('age_bins', axis=1, inplace=True)

In [ ]:
## find out length of DFs
print(f"2014: {len(td_2014)}")
print(f"2016: {len(td_2016)}")
print(f"2018: {len(td_2018)}")
total_rows = len(td_2014) + len(td_2016) + len(td_2018)
print(f"total rows: {total_rows}")

In [ ]:
## check column headers are the same

print(td_2014.columns)
print(td_2016.columns)
print(td_2018.columns)

In [ ]:
## change formate of column names using .lower() to match other 2016 datasets
td_2016.columns = map(str.lower, td_2016.columns)
td_2016 = td_2016.rename(columns={'trip duration': 'tripduration', "age today": "age"})

td_2016.columns

In [ ]:
## concatenate 2014, 2016 and 2018 DFs
alldata = pd.concat([td_2014, td_2016, td_2018], axis=0, ignore_index=True)
print(len(alldata))
CitiBikeALL = alldata.copy()

In [ ]:
## check final DF for null-values, length and datatypes
print("--------final---------")
print(CitiBikeALL.dtypes)
print(CitiBikeALL.isnull().sum())
print(len(CitiBikeALL))

### Export as CSV full data set

In [ ]:
CitiBikeALL.to_csv("CitiBike_FULL_14_16_18.csv", index=False)