In [1]:
# !pip install tqdm
import numpy as np
import pandas as pd
import datetime as dt
import scipy as sci
import tqdm 
from tqdm import tqdm

# Citi Bike Data Sept. 2013-2019

### Extract data

In [2]:
# Files to Load (Remember to Change These) from year 2014 - four months: 03 - 06 - 09 - 12
# file01 = "data/201309-citibike-tripdata.csv"
# file02 = "data/201409-citibike-tripdata.csv"
# file03 = "data/201509-citibike-tripdata.csv"
# file04 = "data/201609-citibike-tripdata.csv"
# file05 = "data/201709-citibike-tripdata.csv"
# file06 = "data/201809-citibike-tripdata.csv"
# file07 = "data/201909-citibike-tripdata.csv"

# Read Purchasing File and store into Pandas data frame
# td_2013 = pd.read_csv(file01)
# td_2013.name = '2013'
# td_2014 = pd.read_csv(file02)
# td_2014.name = '2014'
# td_2015 = pd.read_csv(file03)
# td_2015.name = '2015'
# td_2016 = pd.read_csv(file04)
# td_2016.name = '2016'
# td_2017 = pd.read_csv(file05)
# td_2017.name = '2017'
# td_2018 = pd.read_csv(file06)
# td_2018.name = '2018'
# td_2019 = pd.read_csv(file07)
# td_2019.name = '2019'

In [6]:
file06 = "data/201809-citibike-tripdata.csv"
file07 = "data/201909-citibike-tripdata.csv"
td_2018 = pd.read_csv(file06)
td_2018.name = '2018'
td_2019 = pd.read_csv(file07)
td_2019.name = '2019'

In [9]:
## make DFs for each year into a list to iterate
df_list = [td_2013, td_2014, td_2015, td_2016, td_2017]
df2_list = [td_2013, td_2014, td_2015, td_2016, td_2017, td_2018, td_2019]
# , td_2018, td_2019

#### Clean and format data for 2013

In [10]:
## Find out datatypes and null-values in separate files
for df in df2_list:
    print(f"--------{df.name}---------")
    print(f"{df.name}: {len(df)}")
    print("-----------------")
    print(df.dtypes)
    print("-----------------")
    print(df.isnull().sum())

--------2013---------
2013: 1034359
-----------------
tripduration                 int64
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
start_time                  object
stop_time                   object
year                         int64
dtype: object
-----------------
tripduration               0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
start_time                 0
stop_time                  0
year                       0
dtype: int64
--------2014---------
2014: 953887
-----------------
tripduration                 int64
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
start_time                  object
stop_time                   object
year                         int64
dtype: object
-----------------
tripduration               0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
start_time                 0
stop_time                  0
year                       0
dtype: int64
--------2015---------
2015: 1048575
-----------------
tripduration                 int64
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
start_time                  object
stop_time                   object
year                         int64
dtype: object
-----------------
tripduration               0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
start_time                 0
stop_time                  0
year                       0
dtype: int64
--------2016---------
2016: 1048575
-----------------
tripduration                 int64
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
start_time                  object
stop_time                   object
year                         int64
dtype: object
-----------------
tripduration               0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
start_time                 0
stop_time                  0
year                       0
dtype: int64
--------2017---------
2017: 1048575
-----------------
tripduration                 int64
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
start_time                  object
stop_time                   object
year                         int64
dtype: object
-----------------
tripduration               0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
start_time                 0
stop_time                  0
year                       0
dtype: int64
--------2018---------
2018: 1048575
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration                 0
starttime                    0
stoptime                     0
start station id           462
start station name         462
start station latitude       0
start station longitude      0
end station id             462
end station name           462
end station latitude         0
end station longitude        0
bikeid                       0
usertype                     0
birth year                   0
gender                       0
dtype: int64
--------2019---------
2019: 2444900
-----------------
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object
-----------------
tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

##### Time and Year

Convert starttime and stoptime columns to datetime and keep time in new column; drop original columns

In [5]:
for df in tqdm(df_list):
    df['start_time'] = pd.to_datetime(df['starttime']).dt.time
    df['stop_time'] = pd.to_datetime(df['stoptime']).dt.time
    df['year'] = pd.to_datetime(df['stoptime']).dt.year

    df.drop(["starttime","stoptime"], axis=1, inplace=True)
    df

100%|██████████| 5/5 [23:57<00:00, 288.89s/it]

In [16]:
## create Year column for 2018 and 2019 datasets
td_2018["year"] = 2018
td_2019["year"] = 2019

In [8]:
td_2015

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,stop_time,year
0,288,263,Elizabeth St & Hester St,40.717290,-73.996375,307,Canal St & Rutgers St,40.714275,-73.989900,15479,Subscriber,1989,1,00:00:00,00:04:00,2015
1,165,495,W 47 St & 10 Ave,40.762699,-73.993012,449,W 52 St & 9 Ave,40.764618,-73.987895,23899,Subscriber,1987,1,00:00:00,00:02:00,2015
2,367,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,23921,Customer,2020,0,00:00:00,00:06:00,2015
3,926,536,1 Ave & E 30 St,40.741444,-73.975361,340,Madison St & Clinton St,40.712690,-73.987763,23256,Subscriber,1992,1,00:00:00,00:15:00,2015
4,658,347,Greenwich St & W Houston St,40.728846,-74.008591,483,E 12 St & 3 Ave,40.732233,-73.988900,17289,Subscriber,1976,1,00:00:00,00:11:00,2015
5,392,2004,6 Ave & Broome St,40.724399,-74.004704,254,W 11 St & 6 Ave,40.735324,-73.998004,15438,Subscriber,1955,1,00:00:00,00:06:00,2015
6,122,173,Broadway & W 49 St,40.760647,-73.984427,450,W 49 St & 8 Ave,40.762272,-73.987882,14720,Subscriber,1964,1,00:00:00,00:02:00,2015
7,1071,397,Fulton St & Clermont Ave,40.684157,-73.969223,3044,Albany Ave & Fulton St,40.680011,-73.938475,20503,Customer,2020,0,00:00:00,00:18:00,2015
8,170,536,1 Ave & E 30 St,40.741444,-73.975361,476,E 31 St & 3 Ave,40.743943,-73.979661,21064,Subscriber,1975,1,00:00:00,00:03:00,2015
9,1086,397,Fulton St & Clermont Ave,40.684157,-73.969223,3044,Albany Ave & Fulton St,40.680011,-73.938475,23363,Customer,2020,0,00:00:00,00:19:00,2015
10,190,307,Canal St & Rutgers St,40.714275,-73.989900,412,Forsyth St & Canal St,40.715816,-73.994224,22533,Subscriber,1994,1,00:01:00,00:04:00,2015
11,715,3075,Division Ave & Marcy Ave,40.707087,-73.957968,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,19355,Subscriber,1984,1,00:01:00,00:13:00,2015
12,439,361,Allen St & Hester St,40.716059,-73.991908,356,Bialystoker Pl & Delancey St,40.716226,-73.982612,17353,Subscriber,1993,1,00:01:00,00:08:00,2015
13,844,358,Christopher St & Greenwich St,40.732916,-74.007114,147,Greenwich St & Warren St,40.715422,-74.011220,15324,Subscriber,1974,1,00:01:00,00:15:00,2015
14,889,410,Suffolk St & Stanton St,40.720664,-73.985180,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,24065,Subscriber,1988,1,00:02:00,00:16:00,2015
15,1514,509,9 Ave & W 22 St,40.745497,-74.001971,494,W 26 St & 8 Ave,40.747348,-73.997236,16356,Subscriber,1985,1,00:02:00,00:27:00,2015
16,467,2003,1 Ave & E 18 St,40.733812,-73.980544,474,5 Ave & E 29 St,40.745168,-73.986831,23871,Subscriber,1989,1,00:02:00,00:09:00,2015
17,197,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,16068,Subscriber,1951,2,00:02:00,00:05:00,2015
18,1538,386,Centre St & Worth St,40.714948,-74.002345,386,Centre St & Worth St,40.714948,-74.002345,23066,Customer,2020,0,00:02:00,00:28:00,2015
19,558,285,Broadway & E 14 St,40.734546,-73.990741,382,University Pl & E 14 St,40.734927,-73.992005,18943,Subscriber,1990,1,00:02:00,00:11:00,2015
20,591,479,9 Ave & W 45 St,40.760193,-73.991255,458,11 Ave & W 27 St,40.751396,-74.005226,16143,Customer,2020,0,00:02:00,00:12:00,2015
21,1247,3133,E 67 St & Lexington Ave,40.767343,-73.964859,334,W 20 St & 7 Ave,40.742388,-73.997262,20131,Subscriber,1978,2,00:03:00,00:23:00,2015
22,584,479,9 Ave & W 45 St,40.760193,-73.991255,458,11 Ave & W 27 St,40.751396,-74.005226,16061,Customer,2020,0,00:03:00,00:12:00,2015
23,1508,386,Centre St & Worth St,40.714948,-74.002345,386,Centre St & Worth St,40.714948,-74.002345,23367,Customer,2020,0,00:03:00,00:28:00,2015
24,1227,3133,E 67 St & Lexington Ave,40.767343,-73.964859,334,W 20 St & 7 Ave,40.742388,-73.997262,17148,Subscriber,1980,1,00:03:00,00:23:00,2015
25,694,2021,W 45 St & 8 Ave,40.759291,-73.988597,500,Broadway & W 51 St,40.762288,-73.983362,19508,Customer,2020,0,00:03:00,00:14:00,2015
26,634,495,W 47 St & 10 Ave,40.762699,-73.993012,468,Broadway & W 55 St,40.765265,-73.981923,17933,Customer,2020,0,00:03:00,00:14:00,2015
27,885,488,W 39 St & 9 Ave,40.756458,-73.993722,3223,E 55 St & 3 Ave,40.758997,-73.968654,17745,Subscriber,1994,2,00:04:00,00:19:00,2015
28,174,316,Fulton St & William St,40.709560,-74.006536,279,Peck Slip & Front St,40.707873,-74.001670,21440,Subscriber,1958,1,00:04:00,00:07:00,2015
29,666,463,9 Ave & W 16 St,40.742065,-74.004432,72,W 52 St & 11 Ave,40.767272,-73.993929,20271,Subscriber,1984,1,00:04:00,00:15:00,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,584,459,W 20 St & 11 Ave,40.746745,-74.007756,521,8 Ave & W 31 St,40.750967,-73.994442,22086,Subscriber,1955,1,15:27:00,15:36:00,2015
1048546,894,79,Franklin St & W Broadway,40.719116,-74.006667,225,W 14 St & The High Line,40.741951,-74.008030,20945,Subscriber,1963,1,15:27:00,15:41:00,2015
1048547,931,485,W 37 St & 5 Ave,40.750380,-73.983390,432,E 7 St & Avenue A,40.726218,-73.983799,15863,Subscriber,1978,1,15:27:00,15:42:00,2015
1048548,471,3224,W 13 St & Hudson St,40.739974,-74.005139,368,Carmine St & 6 Ave,40.730386,-74.002150,15623,Subscriber,1968,2,15:27:00,15:34:00,2015
1048549,512,503,E 20 St & Park Ave,40.738274,-73.987520,505,6 Ave & W 33 St,40.749013,-73.988484,23062,Subscriber,1977,1,15:27:00,15:35:00,2015
1048550,302,3142,1 Ave & E 62 St,40.761227,-73.960940,3156,E 72 St & York Ave,40.766638,-73.953483,18540,Subscriber,1972,1,15:27:00,15:32:00,2015
1048551,2404,293,Lafayette St & E 8 St,40.730287,-73.990765,375,Mercer St & Bleecker St,40.726795,-73.996951,23564,Subscriber,1975,1,15:27:00,16:07:00,2015
1048552,609,528,2 Ave & E 31 St,40.742909,-73.977061,498,Broadway & W 32 St,40.748549,-73.988084,24176,Subscriber,1985,1,15:27:00,15:37:00,2015
1048553,639,306,Cliff St & Fulton St,40.708235,-74.005301,350,Clinton St & Grand St,40.715595,-73.987030,23001,Subscriber,1991,2,15:27:00,15:37:00,2015
1048554,369,473,Rivington St & Chrystie St,40.721101,-73.991925,263,Elizabeth St & Hester St,40.717290,-73.996375,15015,Subscriber,1953,1,15:27:00,15:33:00,2015
1048555,2602,453,W 22 St & 8 Ave,40.744751,-73.999154,3177,W 84 St & Broadway,40.786795,-73.977112,23684,Subscriber,1971,2,15:27:00,16:10:00,2015
1048556,1049,510,W 51 St & 6 Ave,40.760660,-73.980420,3170,W 84 St & Columbus Ave,40.785000,-73.972834,20050,Subscriber,1968,1,15:27:00,15:44:00,2015
1048557,522,469,Broadway & W 53 St,40.763441,-73.982681,379,W 31 St & 7 Ave,40.749156,-73.991600,16855,Subscriber,1983,1,15:27:00,15:35:00,2015
1048558,1169,3231,E 67 St & Park Ave,40.767801,-73.965921,488,W 39 St & 9 Ave,40.756458,-73.993722,23839,Subscriber,1959,1,15:27:00,15:46:00,2015
1048559,567,528,2 Ave & E 31 St,40.742909,-73.977061,498,Broadway & W 32 St,40.748549,-73.988084,22330,Subscriber,1992,1,15:27:00,15:36:00,2015
1048560,1964,335,Washington Pl & Broadway,40.729039,-73.994046,72,W 52 St & 11 Ave,40.767272,-73.993929,16011,Subscriber,1971,2,15:27:00,15:59:00,2015
1048561,1519,2008,Little West St & 1 Pl,40.705693,-74.016777,439,E 4 St & 2 Ave,40.726281,-73.989780,24003,Subscriber,1951,1,15:27:00,15:52:00,2015
1048562,588,362,Broadway & W 37 St,40.751726,-73.987535,508,W 46 St & 11 Ave,40.763414,-73.996674,23556,Subscriber,1976,1,15:27:00,15:37:00,2015
1048563,2391,276,Duane St & Greenwich St,40.717488,-74.010455,3172,W 74 St & Columbus Ave,40.778567,-73.977550,23464,Subscriber,1951,2,15:27:00,16:07:00,2015
1048564,1594,285,Broadway & E 14 St,40.734546,-73.990741,510,W 51 St & 6 Ave,40.760660,-73.980420,22802,Customer,2020,0,15:27:00,15:53:00,2015
1048565,618,297,E 15 St & 3 Ave,40.734232,-73.986923,528,2 Ave & E 31 St,40.742909,-73.977061,23293,Subscriber,1984,2,15:27:00,15:37:00,2015
1048566,1171,218,Gallatin Pl & Livingston St,40.690284,-73.987071,437,Macon St & Nostrand Ave,40.680983,-73.950048,23249,Subscriber,1970,1,15:27:00,15:46:00,2015
1048567,686,260,Broad St & Bridge St,40.703652,-74.011678,502,Henry St & Grand St,40.714215,-73.981346,23372,Subscriber,1959,1,15:27:00,15:38:00,2015
1048568,605,328,Watts St & Greenwich St,40.724055,-74.009660,327,Vesey Pl & River Terrace,40.715338,-74.016584,18854,Subscriber,1974,1,15:27:00,15:37:00,2015
1048569,544,457,Broadway & W 58 St,40.766953,-73.981693,3172,W 74 St & Columbus Ave,40.778567,-73.977550,17579,Subscriber,1986,1,15:27:00,15:36:00,2015
1048570,1582,285,Broadway & E 14 St,40.734546,-73.990741,510,W 51 St & 6 Ave,40.760660,-73.980420,23133,Customer,2020,0,15:27:00,15:53:00,2015
1048571,534,168,W 18 St & 6 Ave,40.739713,-73.994564,442,W 27 St & 7 Ave,40.746647,-73.993915,23387,Customer,2020,0,15:27:00,15:36:00,2015
1048572,1355,217,Old Fulton St,40.702772,-73.993836,386,Centre St & Worth St,40.714948,-74.002345,15983,Customer,2020,0,15:27:00,15:50:00,2015
1048573,883,348,W Broadway & Spring St,40.724910,-74.001547,316,Fulton St & William St,40.709560,-74.006536,18345,Subscriber,1950,1,15:27:00,15:42:00,2015
1048574,573,491,E 24 St & Park Ave S,40.740964,-73.986022,518,E 39 St & 2 Ave,40.747804,-73.973442,18736,Subscriber,1990,1,15:27:00,15:37:00,2015

##### Age and Age-groups

Calculate age of rider from birthyear column and keep in new column "age".
Birthyear rows with null-values will be converted to "2020" (e.i., 2020 - 2020 = 0 = age)

In [11]:
### check count for null-values; transform null-values into "2020"; check count for null-vales
for df in tqdm(df2_list):
    print(f"--------{df.name}---------")
    print(df["birth year"].isnull().sum())
    df['birth year'].fillna(2020)
    print(df["birth year"].isnull().sum())

 57%|█████▋    | 4/7 [00:00<00:00, 32.49it/s]

--------2013---------
0
0
--------2014---------
0
0
--------2015---------
0
0
--------2016---------
0
0
--------2017---------
0
0
--------2018---------
0
0
--------2019---------

100%|██████████| 7/7 [00:00<00:00, 29.20it/s]

0
0

In [12]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year
## Create new column
for df in tqdm(df2_list):
    df["age"] = currentyear - df[["birth year"]]
    ### set conditions for age-group categories
    conditions = [
        (df['age'] <= 15),
        (df['age'] >= 16) & (df['age'] <= 24),
        (df['age'] >= 25) & (df['age'] <= 44),
        (df['age'] >= 45) & (df['age'] <= 64),
        (df['age'] >= 65) & (df['age'] <= 105),
        (df['age'] > 105)]
    choices = [0, 1, 2, 3, 4, 5]
    ### Create new column for age-group categories 
    df['age_group'] = np.select(conditions, choices, default='0')
    print(df.head())

 29%|██▊       | 2/7 [00:00<00:01,  4.10it/s]

   tripduration  start station id        start station name  \
0          1010               254           W 11 St & 6 Ave
1          1443               151  Cleveland Pl & Spring St
2          1387               352           W 56 St & 6 Ave
3           405               490           8 Ave & W 33 St
4           270               236       St Marks Pl & 2 Ave

   start station latitude  start station longitude  end station id  \
0               40.735324               -73.998004             147
1               40.721816               -73.997203             497
2               40.763406               -73.977225             405
3               40.751551               -73.993934             459
4               40.728419               -73.987140             393

                end station name  end station latitude  end station longitude  \
0       Greenwich St & Warren St             40.715422             -74.011220
1             E 17 St & Broadway             40.737050             -73.990093
2  Washington St & Gansevoort St             40.739323             -74.008119
3               W 20 St & 11 Ave             40.746745             -74.007756
4              E 5 St & Avenue C             40.722992             -73.979955

   bikeid    usertype  birth year  gender start_time stop_time  year  age  \
0   15014  Subscriber        1974       1   00:00:00  00:16:00  2013   46
1   19393    Customer        2020       0   00:00:00  00:24:00  2013    0
2   16160  Subscriber        1992       1   00:00:00  00:23:00  2013   28
3   14997  Subscriber        1973       1   00:00:00  00:07:00  2013   47
4   19609  Subscriber        1984       1   00:00:00  00:04:00  2013   36

  age_group
0         3
1         0
2         2
3         3
4         2
   tripduration  start station id       start station name  \
0          2828               386     Centre St & Worth St
1           368               387  Centre St & Chambers St
2          2201               386     Centre St & Worth St
3           322               167          E 39 St & 3 Ave
4          1693               223          W 13 St & 7 Ave

   start station latitude  start station longitude  end station id  \
0               40.714948               -74.002345             450
1               40.712733               -74.004607            2008
2               40.714948               -74.002345             441
3               40.748901               -73.976049             528
4               40.737815               -73.999947              83

                end station name  end station latitude  end station longitude  \
0                W 49 St & 8 Ave             40.762272             -73.987882
1          Little West St & 1 Pl             40.705693             -74.016777
2                E 52 St & 2 Ave             40.756014             -73.967416
3                2 Ave & E 31 St             40.742909             -73.977061
4  Atlantic Ave & Fort Greene Pl             40.683826             -73.976323

   bikeid    usertype  birth year  gender start_time stop_time  year  age  \
0   15941  Subscriber        1980       1   00:00:00  00:47:00  2014   40
1   18962  Subscriber        1982       1   00:00:00  00:06:00  2014   38
2   15982  Subscriber        1968       1   00:00:00  00:37:00  2014   52
3   19081  Subscriber        1961       1   00:00:00  00:06:00  2014   59
4   20836  Subscriber        1978       1   00:00:00  00:29:00  2014   42

  age_group
0         2
1         2
2         3
3         3
4         2

 43%|████▎     | 3/7 [00:00<00:00,  4.07it/s]

   tripduration  start station id           start station name  \
0           288               263     Elizabeth St & Hester St
1           165               495             W 47 St & 10 Ave
2           367              3119         Vernon Blvd & 50 Ave
3           926               536              1 Ave & E 30 St
4           658               347  Greenwich St & W Houston St

   start station latitude  start station longitude  end station id  \
0               40.717290               -73.996375             307
1               40.762699               -73.993012             449
2               40.742327               -73.954117            3118
3               40.741444               -73.975361             340
4               40.728846               -74.008591             483

             end station name  end station latitude  end station longitude  \
0       Canal St & Rutgers St             40.714275             -73.989900
1             W 52 St & 9 Ave             40.764618             -73.987895
2  McGuinness Blvd & Eagle St             40.735550             -73.952840
3     Madison St & Clinton St             40.712690             -73.987763
4             E 12 St & 3 Ave             40.732233             -73.988900

   bikeid    usertype  birth year  gender start_time stop_time  year  age  \
0   15479  Subscriber        1989       1   00:00:00  00:04:00  2015   31
1   23899  Subscriber        1987       1   00:00:00  00:02:00  2015   33
2   23921    Customer        2020       0   00:00:00  00:06:00  2015    0
3   23256  Subscriber        1992       1   00:00:00  00:15:00  2015   28
4   17289  Subscriber        1976       1   00:00:00  00:11:00  2015   44

  age_group
0         2
1         2
2         0
3         2
4         2

 71%|███████▏  | 5/7 [00:01<00:00,  4.46it/s]

   tripduration  start station id      start station name  \
0           975               312   Allen St & Stanton St
1          1220               316  Fulton St & William St
2           308               479         9 Ave & W 45 St
3           250               297         E 15 St & 3 Ave
4           439               494         W 26 St & 8 Ave

   start station latitude  start station longitude  end station id  \
0               40.722055               -73.989111             313
1               40.709560               -74.006536             239
2               40.760193               -73.991255             448
3               40.734232               -73.986923             487
4               40.747348               -73.997236             533

            end station name  end station latitude  end station longitude  \
0  Washington Ave & Park Ave             40.696102             -73.967510
1   Willoughby St & Fleet St             40.691966             -73.981302
2           W 37 St & 10 Ave             40.756604             -73.997901
3        E 20 St & FDR Drive             40.733143             -73.975739
4         Broadway & W 39 St             40.752996             -73.987216

   bikeid    usertype  birth year  gender start_time stop_time  year  age  \
0   22609  Subscriber        1985       1   00:00:00  00:16:00  2016   35
1   16966  Subscriber        1977       2   00:00:00  00:20:00  2016   43
2   25601  Subscriber        1983       1   00:00:00  00:05:00  2016   37
3   22094  Subscriber        1953       1   00:00:00  00:04:00  2016   67
4   16319  Subscriber        1985       1   00:00:00  00:07:00  2016   35

  age_group
0         2
1         2
2         2
3         4
4         2
   tripduration  start station id        start station name  \
0           362              3331   Riverside Dr & W 104 St
1           188              3101     N 12 St & Bedford Ave
2           305              3140           1 Ave & E 78 St
3           223               236       St Marks Pl & 2 Ave
4           758              3427  Lafayette St & Jersey St

   start station latitude  start station longitude  end station id  \
0               40.801343               -73.971146            3328
1               40.720798               -73.954847            3100
2               40.771404               -73.953517            3141
3               40.728419               -73.987140             473
4               40.724305               -73.996010            3431

             end station name  end station latitude  end station longitude  \
0    W 100 St & Manhattan Ave             40.795000             -73.964500
1      Nassau Ave & Newell St             40.724813             -73.947526
2             1 Ave & E 68 St             40.765005             -73.958185
3  Rivington St & Chrystie St             40.721101             -73.991925
4             E 35 St & 3 Ave             40.746524             -73.977885

   bikeid    usertype  birth year  gender start_time stop_time  year  age  \
0   14530  Subscriber        1993       1   00:00:00  00:06:00  2017   27
1   15475  Subscriber        1988       1   00:00:00  00:03:00  2017   32
2   30346  Subscriber        1969       1   00:00:00  00:05:00  2017   51
3   28056  Subscriber        1993       1   00:00:00  00:04:00  2017   27
4   25413  Subscriber        1987       1   00:01:00  00:13:00  2017   33

  age_group
0         2
1         2
2         3
3         2
4         2

 86%|████████▌ | 6/7 [00:01<00:00,  4.72it/s]

   tripduration starttime stoptime  start station id  \
0          1635   00:05.3  27:20.6             252.0
1           132   00:11.3  02:23.5             314.0
2          3337   00:20.6  55:58.5            3142.0
3           436   00:21.7  07:38.6             308.0
4          8457   00:27.3  21:25.3             345.0

                start station name  start station latitude  \
0     MacDougal St & Washington Sq               40.732264
1  Cadman Plaza West & Montague St               40.693830
2                  1 Ave & E 62 St               40.761227
3          St James Pl & Oliver St               40.713079
4                  W 13 St & 6 Ave               40.736494

   start station longitude  end station id            end station name  \
0               -73.998522           366.0    Clinton Ave & Myrtle Ave
1               -73.990539          3242.0  Schermerhorn St & Court St
2               -73.960940          3384.0             Smith St & 3 St
3               -73.998512          3690.0         Park Pl & Church St
4               -73.997044           380.0            W 4 St & 7 Ave S

   end station latitude  end station longitude  bikeid    usertype  \
0             40.693261             -73.968896   25577  Subscriber
1             40.691029             -73.991834   34377  Subscriber
2             40.678724             -73.995991   30496  Subscriber
3             40.713342             -74.009355   28866  Subscriber
4             40.734011             -74.002939   20943    Customer

   birth year  gender  age age_group
0        1980       1   40         2
1        1969       0   51         3
2        1975       1   45         3
3        1984       2   36         2
4        1994       1   26         2

100%|██████████| 7/7 [00:01<00:00,  3.29it/s]

   tripduration                 starttime                  stoptime  \
0           327  2019-09-01 00:00:01.9580  2019-09-01 00:05:29.3410
1          1145  2019-09-01 00:00:04.1430  2019-09-01 00:19:09.8360
2          1293  2019-09-01 00:00:07.3090  2019-09-01 00:21:40.7580
3          1753  2019-09-01 00:00:08.0640  2019-09-01 00:29:21.5040
4           613  2019-09-01 00:00:12.8510  2019-09-01 00:10:26.1850

   start station id           start station name  start station latitude  \
0              3733           Avenue C & E 18 St               40.730563
1              3329         Degraw St & Smith St               40.682915
2              3168  Central Park West & W 85 St               40.784727
3              3299           E 98 St & Park Ave               40.788130
4               486           Broadway & W 29 St               40.746201

   start station longitude  end station id             end station name  \
0               -73.973984             504              1 Ave & E 16 St
1               -73.993182             270      Adelphi St & Myrtle Ave
2               -73.969617             423              W 54 St & 9 Ave
3               -73.952060            3160  Central Park West & W 76 St
4               -73.988557             478             11 Ave & W 41 St

   end station latitude  end station longitude  bikeid    usertype  \
0             40.732219             -73.981656   39213  Subscriber
1             40.693083             -73.971789   21257    Customer
2             40.765849             -73.986905   15242    Customer
3             40.778968             -73.973747   38760  Subscriber
4             40.760301             -73.998842   32094  Subscriber

   birth year  gender  age age_group
0        1968       1   52         3
1        1969       0   51         3
2        1969       0   51         3
3        1990       1   30         2
4        1992       1   28         2

##### Gender and user-type

One-hot encoding for Gender and Usertype columns

In [15]:
for df in tqdm(df2_list):
    df = pd.get_dummies(df, columns=["gender", "usertype"])
    df.rename(columns={"gender_1" : "male", "gender_2": "female"})
    print(df.head())

 14%|█▍        | 1/7 [00:01<00:07,  1.18s/it]

   tripduration  start station id        start station name  \
0          1010               254           W 11 St & 6 Ave
1          1443               151  Cleveland Pl & Spring St
2          1387               352           W 56 St & 6 Ave
3           405               490           8 Ave & W 33 St
4           270               236       St Marks Pl & 2 Ave

   start station latitude  start station longitude  end station id  \
0               40.735324               -73.998004             147
1               40.721816               -73.997203             497
2               40.763406               -73.977225             405
3               40.751551               -73.993934             459
4               40.728419               -73.987140             393

                end station name  end station latitude  end station longitude  \
0       Greenwich St & Warren St             40.715422             -74.011220
1             E 17 St & Broadway             40.737050             -73.990093
2  Washington St & Gansevoort St             40.739323             -74.008119
3               W 20 St & 11 Ave             40.746745             -74.007756
4              E 5 St & Avenue C             40.722992             -73.979955

   bikeid  ...  start_time stop_time  year  age  age_group gender_0  gender_1  \
0   15014  ...    00:00:00  00:16:00  2013   46          3        0         1
1   19393  ...    00:00:00  00:24:00  2013    0          0        1         0
2   16160  ...    00:00:00  00:23:00  2013   28          2        0         1
3   14997  ...    00:00:00  00:07:00  2013   47          3        0         1
4   19609  ...    00:00:00  00:04:00  2013   36          2        0         1

   gender_2  usertype_Customer  usertype_Subscriber
0         0                  0                    1
1         0                  1                    0
2         0                  0                    1
3         0                  0                    1
4         0                  0                    1

[5 rows x 21 columns]

 29%|██▊       | 2/7 [00:01<00:05,  1.07s/it]

   tripduration  start station id       start station name  \
0          2828               386     Centre St & Worth St
1           368               387  Centre St & Chambers St
2          2201               386     Centre St & Worth St
3           322               167          E 39 St & 3 Ave
4          1693               223          W 13 St & 7 Ave

   start station latitude  start station longitude  end station id  \
0               40.714948               -74.002345             450
1               40.712733               -74.004607            2008
2               40.714948               -74.002345             441
3               40.748901               -73.976049             528
4               40.737815               -73.999947              83

                end station name  end station latitude  end station longitude  \
0                W 49 St & 8 Ave             40.762272             -73.987882
1          Little West St & 1 Pl             40.705693             -74.016777
2                E 52 St & 2 Ave             40.756014             -73.967416
3                2 Ave & E 31 St             40.742909             -73.977061
4  Atlantic Ave & Fort Greene Pl             40.683826             -73.976323

   bikeid  ...  start_time stop_time  year  age  age_group gender_0  gender_1  \
0   15941  ...    00:00:00  00:47:00  2014   40          2        0         1
1   18962  ...    00:00:00  00:06:00  2014   38          2        0         1
2   15982  ...    00:00:00  00:37:00  2014   52          3        0         1
3   19081  ...    00:00:00  00:06:00  2014   59          3        0         1
4   20836  ...    00:00:00  00:29:00  2014   42          2        0         1

   gender_2  usertype_Customer  usertype_Subscriber
0         0                  0                    1
1         0                  0                    1
2         0                  0                    1
3         0                  0                    1
4         0                  0                    1

[5 rows x 21 columns]

 43%|████▎     | 3/7 [00:02<00:04,  1.04s/it]

   tripduration  start station id           start station name  \
0           288               263     Elizabeth St & Hester St
1           165               495             W 47 St & 10 Ave
2           367              3119         Vernon Blvd & 50 Ave
3           926               536              1 Ave & E 30 St
4           658               347  Greenwich St & W Houston St

   start station latitude  start station longitude  end station id  \
0               40.717290               -73.996375             307
1               40.762699               -73.993012             449
2               40.742327               -73.954117            3118
3               40.741444               -73.975361             340
4               40.728846               -74.008591             483

             end station name  end station latitude  end station longitude  \
0       Canal St & Rutgers St             40.714275             -73.989900
1             W 52 St & 9 Ave             40.764618             -73.987895
2  McGuinness Blvd & Eagle St             40.735550             -73.952840
3     Madison St & Clinton St             40.712690             -73.987763
4             E 12 St & 3 Ave             40.732233             -73.988900

   bikeid  ...  start_time stop_time  year  age  age_group gender_0  gender_1  \
0   15479  ...    00:00:00  00:04:00  2015   31          2        0         1
1   23899  ...    00:00:00  00:02:00  2015   33          2        0         1
2   23921  ...    00:00:00  00:06:00  2015    0          0        1         0
3   23256  ...    00:00:00  00:15:00  2015   28          2        0         1
4   17289  ...    00:00:00  00:11:00  2015   44          2        0         1

   gender_2  usertype_Customer  usertype_Subscriber
0         0                  0                    1
1         0                  0                    1
2         0                  1                    0
3         0                  0                    1
4         0                  0                    1

[5 rows x 21 columns]

 57%|█████▋    | 4/7 [00:04<00:03,  1.05s/it]

   tripduration  start station id      start station name  \
0           975               312   Allen St & Stanton St
1          1220               316  Fulton St & William St
2           308               479         9 Ave & W 45 St
3           250               297         E 15 St & 3 Ave
4           439               494         W 26 St & 8 Ave

   start station latitude  start station longitude  end station id  \
0               40.722055               -73.989111             313
1               40.709560               -74.006536             239
2               40.760193               -73.991255             448
3               40.734232               -73.986923             487
4               40.747348               -73.997236             533

            end station name  end station latitude  end station longitude  \
0  Washington Ave & Park Ave             40.696102             -73.967510
1   Willoughby St & Fleet St             40.691966             -73.981302
2           W 37 St & 10 Ave             40.756604             -73.997901
3        E 20 St & FDR Drive             40.733143             -73.975739
4         Broadway & W 39 St             40.752996             -73.987216

   bikeid  ...  start_time stop_time  year  age  age_group gender_0  gender_1  \
0   22609  ...    00:00:00  00:16:00  2016   35          2        0         1
1   16966  ...    00:00:00  00:20:00  2016   43          2        0         0
2   25601  ...    00:00:00  00:05:00  2016   37          2        0         1
3   22094  ...    00:00:00  00:04:00  2016   67          4        0         1
4   16319  ...    00:00:00  00:07:00  2016   35          2        0         1

   gender_2  usertype_Customer  usertype_Subscriber
0         0                  0                    1
1         1                  0                    1
2         0                  0                    1
3         0                  0                    1
4         0                  0                    1

[5 rows x 21 columns]

 71%|███████▏  | 5/7 [00:05<00:02,  1.05s/it]

   tripduration  start station id        start station name  \
0           362              3331   Riverside Dr & W 104 St
1           188              3101     N 12 St & Bedford Ave
2           305              3140           1 Ave & E 78 St
3           223               236       St Marks Pl & 2 Ave
4           758              3427  Lafayette St & Jersey St

   start station latitude  start station longitude  end station id  \
0               40.801343               -73.971146            3328
1               40.720798               -73.954847            3100
2               40.771404               -73.953517            3141
3               40.728419               -73.987140             473
4               40.724305               -73.996010            3431

             end station name  end station latitude  end station longitude  \
0    W 100 St & Manhattan Ave             40.795000             -73.964500
1      Nassau Ave & Newell St             40.724813             -73.947526
2             1 Ave & E 68 St             40.765005             -73.958185
3  Rivington St & Chrystie St             40.721101             -73.991925
4             E 35 St & 3 Ave             40.746524             -73.977885

   bikeid  ...  start_time stop_time  year  age  age_group gender_0  gender_1  \
0   14530  ...    00:00:00  00:06:00  2017   27          2        0         1
1   15475  ...    00:00:00  00:03:00  2017   32          2        0         1
2   30346  ...    00:00:00  00:05:00  2017   51          3        0         1
3   28056  ...    00:00:00  00:04:00  2017   27          2        0         1
4   25413  ...    00:01:00  00:13:00  2017   33          2        0         1

   gender_2  usertype_Customer  usertype_Subscriber
0         0                  0                    1
1         0                  0                    1
2         0                  0                    1
3         0                  0                    1
4         0                  0                    1

[5 rows x 21 columns]

 86%|████████▌ | 6/7 [00:06<00:01,  1.06s/it]

   tripduration starttime stoptime  start station id  \
0          1635   00:05.3  27:20.6             252.0
1           132   00:11.3  02:23.5             314.0
2          3337   00:20.6  55:58.5            3142.0
3           436   00:21.7  07:38.6             308.0
4          8457   00:27.3  21:25.3             345.0

                start station name  start station latitude  \
0     MacDougal St & Washington Sq               40.732264
1  Cadman Plaza West & Montague St               40.693830
2                  1 Ave & E 62 St               40.761227
3          St James Pl & Oliver St               40.713079
4                  W 13 St & 6 Ave               40.736494

   start station longitude  end station id            end station name  \
0               -73.998522           366.0    Clinton Ave & Myrtle Ave
1               -73.990539          3242.0  Schermerhorn St & Court St
2               -73.960940          3384.0             Smith St & 3 St
3               -73.998512          3690.0         Park Pl & Church St
4               -73.997044           380.0            W 4 St & 7 Ave S

   end station latitude  end station longitude  bikeid  birth year  age  \
0             40.693261             -73.968896   25577        1980   40
1             40.691029             -73.991834   34377        1969   51
2             40.678724             -73.995991   30496        1975   45
3             40.713342             -74.009355   28866        1984   36
4             40.734011             -74.002939   20943        1994   26

  age_group  gender_0  gender_1  gender_2  usertype_Customer  \
0         2         0         1         0                  0
1         3         1         0         0                  0
2         3         0         1         0                  0
3         2         0         0         1                  0
4         2         0         1         0                  1

   usertype_Subscriber
0                    1
1                    1
2                    1
3                    1
4                    0

100%|██████████| 7/7 [00:08<00:00,  1.55s/it]

   tripduration                 starttime                  stoptime  \
0           327  2019-09-01 00:00:01.9580  2019-09-01 00:05:29.3410
1          1145  2019-09-01 00:00:04.1430  2019-09-01 00:19:09.8360
2          1293  2019-09-01 00:00:07.3090  2019-09-01 00:21:40.7580
3          1753  2019-09-01 00:00:08.0640  2019-09-01 00:29:21.5040
4           613  2019-09-01 00:00:12.8510  2019-09-01 00:10:26.1850

   start station id           start station name  start station latitude  \
0              3733           Avenue C & E 18 St               40.730563
1              3329         Degraw St & Smith St               40.682915
2              3168  Central Park West & W 85 St               40.784727
3              3299           E 98 St & Park Ave               40.788130
4               486           Broadway & W 29 St               40.746201

   start station longitude  end station id             end station name  \
0               -73.973984             504              1 Ave & E 16 St
1               -73.993182             270      Adelphi St & Myrtle Ave
2               -73.969617             423              W 54 St & 9 Ave
3               -73.952060            3160  Central Park West & W 76 St
4               -73.988557             478             11 Ave & W 41 St

   end station latitude  end station longitude  bikeid  birth year  age  \
0             40.732219             -73.981656   39213        1968   52
1             40.693083             -73.971789   21257        1969   51
2             40.765849             -73.986905   15242        1969   51
3             40.778968             -73.973747   38760        1990   30
4             40.760301             -73.998842   32094        1992   28

  age_group  gender_0  gender_1  gender_2  usertype_Customer  \
0         3         0         1         0                  0
1         3         1         0         0                  1
2         3         1         0         0                  1
3         2         0         1         0                  0
4         2         0         1         0                  0

   usertype_Subscriber
0                    1
1                    0
2                    0
3                    1
4                    1

#### Station ID and Names

Create new DF of Station Info to link ID to station name

In [35]:
for df in df2_list:
    start_stations = df[["start station id", "start station name", "start station latitude", "start station longitude"]].copy()
    end_stations = df[["end station id", "end station name", "end station latitude", "end station longitude"]].copy()
    start_stations = start_stations.drop_duplicates().sort_values(by=['start station id']).reset_index()
    end_stations = end_stations.drop_duplicates().sort_values(by=['end station id']).reset_index()
    start_stations = start_stations.drop("index", axis=1)
    start_stations = start_stations.rename(columns={"start station id" : "station id", "start station name": "station name", "start station latitude": "station latitude", "start station longitude": "station longitude"})
    end_stations = end_stations.drop("index", axis=1)
    end_stations = end_stations.rename(columns={"end station id" : "station id", "end station name": "station name", "end station latitude": "station latitude", "end station longitude": "station longitude"})
    print(f"{df.name}: {len(start_stations)}")
    print(f" {df.name} : {len(end_stations)}")
    stations = pd.concat([start_stations, end_stations], axis=0, ignore_index=True, sort=True)  
    stations = stations.drop_duplicates().sort_values(by=['station id']).reset_index()
    print("----------------")
    print(f"total stations: {len(stations)}")

2013: 330
 2013 : 330
----------------
total stations: 330
2014: 328
 2014 : 328
----------------
total stations: 328
2015: 448
 2015 : 448
----------------
total stations: 448
2016: 604
 2016 : 610
----------------
total stations: 611
2017: 630
 2017 : 643
----------------
total stations: 643
2018: 850
 2018 : 861
----------------
total stations: 873
2019: 805
 2019 : 820
----------------
total stations: 820

In [32]:
stations

,index,station id,station latitude,station longitude,station name
0,0,72,40.767272,-73.993929,W 52 St & 11 Ave
1,1,79,40.719116,-74.006667,Franklin St & W Broadway
2,2,82,40.711174,-74.000165,St James Pl & Pearl St
3,3,83,40.683826,-73.976323,Atlantic Ave & Fort Greene Pl
4,4,116,40.741776,-74.001497,W 17 St & 8 Ave
5,5,119,40.696089,-73.978034,Park Ave & St Edwards St
6,6,120,40.686768,-73.959282,Lexington Ave & Classon Ave
7,7,127,40.731724,-74.006744,Barrow St & Hudson St
8,8,128,40.727103,-74.002971,MacDougal St & Prince St
9,9,143,40.692395,-73.993379,Clinton St & Joralemon St
10,10,144,40.698399,-73.980689,Nassau St & Navy St
11,11,146,40.716250,-74.009106,Hudson St & Reade St
12,12,150,40.720874,-73.980858,E 2 St & Avenue C
13,13,151,40.722104,-73.997249,Cleveland Pl & Spring St
14,14,157,40.690893,-73.996123,Henry St & Atlantic Ave
15,15,161,40.729170,-73.998102,LaGuardia Pl & W 3 St
16,16,164,40.753231,-73.970325,E 47 St & 2 Ave
17,17,167,40.748901,-73.976049,E 39 St & 3 Ave
18,18,168,40.739713,-73.994564,W 18 St & 6 Ave
19,19,173,40.760683,-73.984527,Broadway & W 49 St
20,20,174,40.738177,-73.977387,E 25 St & 1 Ave
21,21,195,40.709056,-74.010434,Liberty St & Broadway
22,22,212,40.743349,-74.006818,W 16 St & The High Line
23,23,216,40.700379,-73.995481,Columbia Heights & Cranberry St
24,24,217,40.702772,-73.993836,Old Fulton St
25,25,223,40.737815,-73.999947,W 13 St & 7 Ave
26,26,224,40.711464,-74.005524,Spruce St & Nassau St
27,27,228,40.754601,-73.971879,E 48 St & 3 Ave
28,28,229,40.727434,-73.993790,Great Jones St
29,29,236,40.728419,-73.987140,St Marks Pl & 2 Ave
...,...,...,...,...,...
790,775,3781,40.698568,-73.918877,Greene Av & Myrtle Av
791,776,3782,40.698458,-73.997178,Brooklyn Bridge Park - Pier 2
792,777,3783,40.708380,-74.004950,Cliff St & Fulton St
793,778,3787,40.699850,-73.971410,Dock 72 Way & Market St
794,779,3788,40.732690,-73.989740,E 12 St & 4 Av
795,780,3789,40.681860,-73.959432,Fulton St & Irving Pl
796,781,3790,40.700300,-73.991581,Henry St & Middagh St
797,782,3793,40.732340,-73.978984,Stuyvesant Walk & 1 Av Loop
798,783,3795,40.671907,-73.993612,10 St & 2 Ave
799,784,3798,40.752269,-73.982079,W 40 St & 5 Ave
800,785,3799,40.749640,-73.988050,6 Ave & W 34 St
801,786,3803,40.665816,-73.956934,Bedford Ave & Montgomery St
802,787,3804,40.702461,-73.986842,Front St & Jay St
803,788,3805,40.776173,-73.959757,E 80 St & Park Ave
804,789,3809,40.763189,-73.978434,W 55 St & 6 Ave
805,790,3810,40.782593,-73.971211,Central Park West & W 82 St
806,791,3811,40.774850,-73.934200,27 Ave & 3 St
807,792,3812,40.734814,-73.992085,University Pl & E 14 St
808,793,3816,40.714290,-73.933230,Metropolitan Ave & Vandervoort Ave
809,794,3817,40.717730,-73.940510,Withers St & Kingsland Ave
810,795,3818,40.729840,-73.948390,Calyer St & Jewel St
811,796,3819,40.733960,-73.952040,Green St & McGuinness Blvd
812,797,3820,40.697570,-73.930980,Willoughby Ave & Myrtle Ave
813,798,3821,40.701060,-73.933180,Evergreen Ave & Noll St
814,799,3822,40.700760,-73.936410,Bushwick Ave & Forrest St
815,800,3823,40.700990,-73.939210,Beaver St & Fayette St
816,801,3842,40.695020,-73.928250,Bushwick Ave & Dekalb Ave
817,802,3853,40.706860,-73.928510,Harrison Pl & Porter Ave
818,803,3854,40.716657,-73.936370,Morgan Ave & Maspeth Ave
819,804,3858,40.731240,-73.951610,Kent St & McGuinness Blvd

In [ ]:
stations_df.to_csv("CB_Stations_Info.csv", index=True)

### Load all data into one DF

In [ ]:
## concatenate 201406 and 201412 DFs
data_09_13to19 = pd.concat(df_list)
datacopy = data_09_13to19.copy()
print(f"original: {len(data_09_13to19)}")
print(f" copy: {len(datacopy)}")
datacopy

In [ ]:
print(datacopy.isnull().sum())
print("-------------------------")
print(datacopy.dtypes)
print("-------------------------")
print(datacopy.columns)

In [ ]:
datacopy = datacopy.dropna()

In [ ]:
print(f"original: {len(data_09_13to19)}")
print(f"DF: {len(datacopy)}")

### Transform ALL year data - in datacopy DF

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year

## Create new column
datacopy["age"] = currentyear - datacopy[["birth year"]]

datacopy

In [ ]:
print(datacopy.isnull().sum())
print("-------------------------")
print(datacopy.dtypes)

In [ ]:
print(f"DF: {len(datacopy)}")

### Export ALL data (2013-2019)

In [ ]:
# export main file as csv
datacopy.to_csv("CBtripdata-SEPT_13-19.csv", index=False)

# Citi Bike Data 2013

### Transform data from source files

In [ ]:
## Find out datatypes and null-values in separate files
print(td_2013.dtypes)
print(td_2013.isnull().sum())
print("-----------------")

In [ ]:
## convert starttime and stoptime to timestamp format in new column
test = td_2013.copy()

for index, row in test.iterrows(): 
    string = row["starttime"]
    element = dt.datetime.strptime(string,"%m/%d/%Y %H:%M") 
    test["starttimestamp"] = dt.datetime.timestamp(element) 

    # string2 = row["stoptime"]
    # element = datetime.datetime.strptime(string2,"%Y-%m-%d %H:%M:%S.%f") 
    # test["stoptimestamp"] = datetime.datetime.timestamp(element) 

# # iterate through each row and select  
# for ind in test.index: 
#      string = test["starttime"]
#      element = datetime.datetime.strptime(string,"%Y-%m-%d %H:%M:%S.%f") 
#      test["starttimestamp"] = datetime.datetime.timestamp(element) 

#      string2 = test["stoptime"]
#      element = datetime.datetime.strptime(string2,"%Y-%m-%d %H:%M:%S.%f") 
#      test["stoptimestamp"] = datetime.datetime.timestamp(element) 

test

### Transform Data

In [ ]:
## change formate of column names using .lower() to match other 2016 datasets
td_201612.columns = map(str.lower, td_201612.columns)
td_201612 = td_201612.rename(columns={'trip duration': 'tripduration', 'start time' : 'starttime', 'stop time': 'stoptime','bike id': 'bikeid', 'user type': 'usertype'})

td_201612.columns

In [ ]:
## Want to keep cases with null-values in "birth year" column
## Replace NA with "2020" instead of dropping to later separate into age group bins
td_201603['birth year'] = td_201603['birth year'].fillna(2020)
td_201606['birth year'] = td_201606['birth year'].fillna(2020)
td_201609['birth year'] = td_201609['birth year'].fillna(2020)
td_201612['birth year'] = td_201612['birth year'].fillna(2020)

In [ ]:
## Find out datatypes and null-values in separate files
print(td_201603.dtypes)
print(td_201603.isnull().sum())
print("-----------------")
print(td_201606.dtypes)
print(td_201606.isnull().sum())
print("-----------------")
print(td_201609.dtypes)
print(td_201609.isnull().sum())
print("-----------------")
print(td_201612.dtypes)
print(td_201612.isnull().sum())

In [ ]:
td_201612['usertype'] = td_201612['usertype'].dropna()

In [ ]:
## Find out datatypes and null-values in separate files
print(td_201603.dtypes)
print(td_201603.isnull().sum())
print("---------06--------")
print(td_201606.dtypes)
print(td_201606.isnull().sum())
print("--------09---------")
print(td_201609.dtypes)
print(td_201609.isnull().sum())
print("--------12---------")
print(td_201612.dtypes)
print(td_201612.isnull().sum())

In [ ]:
## concatenate 201603, 201606, 201609 and 201612 DFs
td2016 = pd.concat([td_201603, td_201606, td_201609, td_201612], axis=0, ignore_index=True)
print(len(td2016))
copy2016 = td2016.copy()
copy2016.dropna()

In [ ]:
copy2016 = copy2016.dropna()
print(len(td2016))

In [ ]:
## check new DF for null-values and data-types
print(len(td2016))
print(copy2016.isnull().sum())
print("-------------------------")
print(copy2016.dtypes)
print("-------------------------")
print(copy2016.columns)

### Transform data in copy2016

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year

## Create new column
copy2016["age"] = currentyear - copy2016[["birth year"]]

copy2016

In [ ]:
## parse date and time into new columns
copy2016["start"] = pd.to_datetime(copy2016["starttime"])
copy2016["stop"] = pd.to_datetime(copy2016["stoptime"])
copy2016["startdate"] = pd.to_datetime(copy2016['start']).dt.date
copy2016['starttime'] = pd.to_datetime(copy2016['start']).dt.time
copy2016["stopdate"] = pd.to_datetime(copy2016['stop']).dt.date
copy2016['stoptime'] = pd.to_datetime(copy2016['stop']).dt.time

In [ ]:
copy2016

In [ ]:
## add column names to list to reorganize DF
cols = list(copy2016.columns)
cols

In [ ]:
cols = ['tripduration','start','stop','start station id','start station name','start station latitude','start station longitude','end station id','end station name','end station latitude','end station longitude','bikeid','usertype','birth year','age','gender','startdate','starttime', 'stopdate','stoptime']

copy2016 = copy2016[cols]

copy2016.head()

### Export copy2016 to csv

In [ ]:
# export main file as csv
copy2016.to_csv("tripdataFULL_2016.csv", index=False)

## Citi Bike Data 2018

### Extract 2018 data from files

In [ ]:
# File to Load - year: 2016 ; four months: 03 - 06 - 09 - 12
file01 = "TripData/2018/201803-citibike-tripdata.csv"
file02 = "TripData/2018/201806-citibike-tripdata.csv"
file03 = "TripData/2018/201809-citibike-tripdata.csv"
file04 = "TripData/2018/201812-citibike-tripdata.csv"

# Read Purchasing File and store into Pandas data frame
td_201803 = pd.read_csv(file01)
td_201806 = pd.read_csv(file02)
td_201809 = pd.read_csv(file03)
td_201812 = pd.read_csv(file04)

In [ ]:
## Find out datatypes and null-values in separate files
print(td_201803.dtypes)
print(td_201803.isnull().sum())
print("-----------------")
print(td_201806.dtypes)
print(td_201806.isnull().sum())
print("-----------------")
print(td_201809.dtypes)
print(td_201809.isnull().sum())
print("-----------------")
print(td_201812.dtypes)
print(td_201812.isnull().sum())

In [ ]:
td_201803 = td_201803.dropna()
td_201806 = td_201806.dropna()
td_201809 = td_201809.dropna()
td_201812 = td_201812.dropna()

print(td_201803.isnull().sum())
print("--------06---------")
print(td_201806.isnull().sum())
print("--------09---------")
print(td_201809.isnull().sum())
print("--------12---------")
print(td_201812.isnull().sum())

In [ ]:
## check column headers are the same

print(td_201803.columns)
print(td_201806.columns)
print(td_201809.columns)
print(td_201812.columns)

In [ ]:
## concatenate 201603, 201606, 201609 and 201612 DFs
td2018 = pd.concat([td_201803, td_201806, td_201809, td_201812], axis=0, ignore_index=True)
print(len(td2018))
copy2018 = td2018.copy()

In [ ]:
## view new DF
copy2018

In [ ]:
## check for null-values in new DF; print length of original and copy
print(f"original: {len(td2018)}")
print(f"copy2018: {len(copy2018)}")
print(f"null-values: {copy2018.isnull().count()}")

In [ ]:
## check new DF for null-values
copy2018.dropna()

In [ ]:
#convert starttime and stoptime columns to datetime object (rename start and stop) and parse date from time and create new columns
copy2018["start"] = pd.to_datetime(copy2018["starttime"])
copy2018["stop"] = pd.to_datetime(copy2018["stoptime"])
copy2018["startdate"] = pd.to_datetime(copy2018['start']).dt.date
copy2018['starttime'] = pd.to_datetime(copy2018['start']).dt.time
copy2018["stopdate"] = pd.to_datetime(copy2018['stop']).dt.date
copy2018['stoptime'] = pd.to_datetime(copy2018['stop']).dt.time

copy2018

In [ ]:
## Calculate age by subtracting birth year from current year
currentyear = dt.datetime.now().year

## Create new column
copy2018["age"] = currentyear - copy2018[["birth year"]]

copy2018

In [ ]:
## add column names to list to reorganize DF
cols = list(copy2018.columns)
cols

In [ ]:
cols = ['tripduration','start','stop','start station id','start station name','start station latitude','start station longitude','end station id','end station name','end station latitude','end station longitude','bikeid','usertype','birth year','age','gender','startdate','starttime', 'stopdate','stoptime']

copy2018 = copy2018[cols]

copy2018.head()

In [ ]:
print(copy2018.isnull().count())
print(copy2018.dtypes)

In [ ]:
copy2018.to_csv("tripdataFULL_2018.csv", index=False)

## Load all FULL year data into one file

In [ ]:
# File to Load - year: 2016 ; four months: 03 - 06 - 09 - 12
file01 = "tripdataFULL_2014.csv"
file02 = "tripdataFULL_2016.csv"
file03 = "tripdataFULL_2018.csv"


# Read Purchasing File and store into Pandas data frame
td_2014 = pd.read_csv(file01)
td_2016 = pd.read_csv(file02)
td_2018 = pd.read_csv(file03)

In [ ]:
## Find out datatypes and null-values in separate files
print("--------2014---------")
print(td_2014.dtypes)
print(td_2014.isnull().sum())
print("--------2016---------")
print(td_2016.dtypes)
print(td_2016.isnull().sum())
print("-------2018----------")
print(td_2018.dtypes)
print(td_2018.isnull().sum())

In [ ]:
td_2014.drop('age_bins', axis=1, inplace=True)

In [ ]:
## find out length of DFs
print(f"2014: {len(td_2014)}")
print(f"2016: {len(td_2016)}")
print(f"2018: {len(td_2018)}")
total_rows = len(td_2014) + len(td_2016) + len(td_2018)
print(f"total rows: {total_rows}")

In [ ]:
## check column headers are the same

print(td_2014.columns)
print(td_2016.columns)
print(td_2018.columns)

In [ ]:
## change formate of column names using .lower() to match other 2016 datasets
td_2016.columns = map(str.lower, td_2016.columns)
td_2016 = td_2016.rename(columns={'trip duration': 'tripduration', "age today": "age"})

td_2016.columns

In [ ]:
## concatenate 2014, 2016 and 2018 DFs
alldata = pd.concat([td_2014, td_2016, td_2018], axis=0, ignore_index=True)
print(len(alldata))
CitiBikeALL = alldata.copy()

In [ ]:
## check final DF for null-values, length and datatypes
print("--------final---------")
print(CitiBikeALL.dtypes)
print(CitiBikeALL.isnull().sum())
print(len(CitiBikeALL))

### Export as CSV full data set

In [ ]:
CitiBikeALL.to_csv("CitiBike_FULL_14_16_18.csv", index=False)