In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from datetime import datetime

In [2]:
bikes = pd.read_csv(os.path.join('..', 'Resources', 'bikes.csv'))
bikes = bikes.dropna(how='any')
bikes = bikes[bikes.gender !=0]
# bikes['gender'] = bikes.gender.astype(str)

bikes.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [3]:
# bikes['gender'] = bikes['gender'].replace({'1': 'Male', '2':'Female'})
# bikes['gender'].replace("1", "Male")
# # s.replace({'a': None})

# bikes.head()

In [4]:
# Assign X (data) and y (target)
bikes_X = bikes.drop(["gender", "start station name", "end station name"], axis=1)
# y = bikes["gender"]
y = bikes["gender"].values.reshape(-1,1)
print(bikes_X.shape, y.shape)
bikes_X.head()

(1428651, 12) (1428651, 1)

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year
0,975,9/1/2016 00:00:02,9/1/2016 00:16:18,312,40.722055,-73.989111,313,40.696102,-73.967510,22609,Subscriber,1985.0
1,1220,9/1/2016 00:00:04,9/1/2016 00:20:25,316,40.709560,-74.006536,239,40.691966,-73.981302,16966,Subscriber,1977.0
2,308,9/1/2016 00:00:19,9/1/2016 00:05:27,479,40.760193,-73.991255,448,40.756604,-73.997901,25601,Subscriber,1983.0
3,250,9/1/2016 00:00:25,9/1/2016 00:04:35,297,40.734232,-73.986923,487,40.733143,-73.975739,22094,Subscriber,1953.0
4,439,9/1/2016 00:00:25,9/1/2016 00:07:45,494,40.747348,-73.997236,533,40.752996,-73.987216,16319,Subscriber,1985.0

In [5]:
X = bikes_X.copy()

In [6]:
X["starttime"] = pd.to_datetime(X["starttime"], infer_datetime_format=True)
X.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                           object
start station id                    int64
start station latitude            float64
start station longitude           float64
end station id                      int64
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                        float64
dtype: object

In [7]:
start = []
i=0
for i in range(len(X)):
    begin = X.iloc[i,1].strftime("%H") 
    start.append(begin)
    i = +1
X.head()

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year
0,975,2016-09-01 00:00:02,9/1/2016 00:16:18,312,40.722055,-73.989111,313,40.696102,-73.967510,22609,Subscriber,1985.0
1,1220,2016-09-01 00:00:04,9/1/2016 00:20:25,316,40.709560,-74.006536,239,40.691966,-73.981302,16966,Subscriber,1977.0
2,308,2016-09-01 00:00:19,9/1/2016 00:05:27,479,40.760193,-73.991255,448,40.756604,-73.997901,25601,Subscriber,1983.0
3,250,2016-09-01 00:00:25,9/1/2016 00:04:35,297,40.734232,-73.986923,487,40.733143,-73.975739,22094,Subscriber,1953.0
4,439,2016-09-01 00:00:25,9/1/2016 00:07:45,494,40.747348,-73.997236,533,40.752996,-73.987216,16319,Subscriber,1985.0

In [8]:
X["start"] = start
X.head()

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,start
0,975,2016-09-01 00:00:02,9/1/2016 00:16:18,312,40.722055,-73.989111,313,40.696102,-73.967510,22609,Subscriber,1985.0,00
1,1220,2016-09-01 00:00:04,9/1/2016 00:20:25,316,40.709560,-74.006536,239,40.691966,-73.981302,16966,Subscriber,1977.0,00
2,308,2016-09-01 00:00:19,9/1/2016 00:05:27,479,40.760193,-73.991255,448,40.756604,-73.997901,25601,Subscriber,1983.0,00
3,250,2016-09-01 00:00:25,9/1/2016 00:04:35,297,40.734232,-73.986923,487,40.733143,-73.975739,22094,Subscriber,1953.0,00
4,439,2016-09-01 00:00:25,9/1/2016 00:07:45,494,40.747348,-73.997236,533,40.752996,-73.987216,16319,Subscriber,1985.0,00

In [9]:
X["stoptime"] = pd.to_datetime(X["stoptime"], infer_datetime_format=True)

In [10]:
stop = []
i=0
for i in range(len(X)):
    end = X.iloc[i,2].strftime("%H") 
    stop.append(end)
    i = +1
X.head()

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,start
0,975,2016-09-01 00:00:02,2016-09-01 00:16:18,312,40.722055,-73.989111,313,40.696102,-73.967510,22609,Subscriber,1985.0,00
1,1220,2016-09-01 00:00:04,2016-09-01 00:20:25,316,40.709560,-74.006536,239,40.691966,-73.981302,16966,Subscriber,1977.0,00
2,308,2016-09-01 00:00:19,2016-09-01 00:05:27,479,40.760193,-73.991255,448,40.756604,-73.997901,25601,Subscriber,1983.0,00
3,250,2016-09-01 00:00:25,2016-09-01 00:04:35,297,40.734232,-73.986923,487,40.733143,-73.975739,22094,Subscriber,1953.0,00
4,439,2016-09-01 00:00:25,2016-09-01 00:07:45,494,40.747348,-73.997236,533,40.752996,-73.987216,16319,Subscriber,1985.0,00

In [11]:
X["stop"] = stop
X.head()

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,start,stop
0,975,2016-09-01 00:00:02,2016-09-01 00:16:18,312,40.722055,-73.989111,313,40.696102,-73.967510,22609,Subscriber,1985.0,00,00
1,1220,2016-09-01 00:00:04,2016-09-01 00:20:25,316,40.709560,-74.006536,239,40.691966,-73.981302,16966,Subscriber,1977.0,00,00
2,308,2016-09-01 00:00:19,2016-09-01 00:05:27,479,40.760193,-73.991255,448,40.756604,-73.997901,25601,Subscriber,1983.0,00,00
3,250,2016-09-01 00:00:25,2016-09-01 00:04:35,297,40.734232,-73.986923,487,40.733143,-73.975739,22094,Subscriber,1953.0,00,00
4,439,2016-09-01 00:00:25,2016-09-01 00:07:45,494,40.747348,-73.997236,533,40.752996,-73.987216,16319,Subscriber,1985.0,00,00

In [12]:
X["stop"].value_counts()

18    146269
17    134038
08    115667
19    110110
09    100792
16     92619
15     78058
14     75693
13     74794
20     70386
12     70329
10     62488
07     61407
11     59426
21     48180
22     35536
06     27282
23     25599
00     15250
01      8061
05      7048
02      4399
03      2794
04      2426
Name: stop, dtype: int64

In [13]:
X = X.drop(["starttime", "stoptime"], axis=1)

In [14]:
X2 = X.copy()

In [16]:
X2 = pd.get_dummies(X2, columns=["usertype"])

In [17]:
X = X2
X.head()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,start,stop,usertype_Customer,usertype_Subscriber
0,975,312,40.722055,-73.989111,313,40.696102,-73.967510,22609,1985.0,00,00,0,1
1,1220,316,40.709560,-74.006536,239,40.691966,-73.981302,16966,1977.0,00,00,0,1
2,308,479,40.760193,-73.991255,448,40.756604,-73.997901,25601,1983.0,00,00,0,1
3,250,297,40.734232,-73.986923,487,40.733143,-73.975739,22094,1953.0,00,00,0,1
4,439,494,40.747348,-73.997236,533,40.752996,-73.987216,16319,1985.0,00,00,0,1

In [18]:
X.dtypes

tripduration                 int64
start station id             int64
start station latitude     float64
start station longitude    float64
end station id               int64
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                 float64
start                       object
stop                        object
usertype_Customer            uint8
usertype_Subscriber          uint8
dtype: object

Split our data into training and testing

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [ ]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

#choose to scale or not
scaled = 1
if scaled == 0:
    X_train_choice = X_train
    y_train_choice = y_train
    X_test_choice = X_test
    y_test_choice = y_test
else:
    X_train_choice = X_train_scaled
    y_train_choice = y_train_scaled
    X_test_choice = X_test_scaled
    y_test_choice = y_test_scaled

Create a Logistic Regression Model

In [20]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

Fit (train) or model using the training data

In [21]:
classifier.fit(X_train, y_train)

/home/craig/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/craig/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

Validate the model using the test data

In [22]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7397609679249791
Testing Data Score: 0.739726679415281

Make predictions

In [29]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 1 1 1 1 1 1 1 1 1]
First 10 Actual labels: [[2], [2], [2], [1], [1], [2], [1], [1], [2], [1]]

In [28]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

Exception: Data must be 1-dimensional