In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import time 
import datetime

In [2]:
# Read in data from S3 Buckets
url = "https://moalarcon.s3.amazonaws.com/Citibikes/CBtripdata-SEPT_13-19.csv"
cb_df= pd.read_csv(url)

cb_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,stop_time,year,age,age_group
0,1010,254.0,W 11 St & 6 Ave,40.735324,-73.998004,147.0,Greenwich St & Warren St,40.715422,-74.011220,15014,Subscriber,1974,1,00:00:00,00:16:00,2013,46,3
1,1443,151.0,Cleveland Pl & Spring St,40.721816,-73.997203,497.0,E 17 St & Broadway,40.737050,-73.990093,19393,Customer,2020,0,00:00:00,00:24:00,2013,0,0
2,1387,352.0,W 56 St & 6 Ave,40.763406,-73.977225,405.0,Washington St & Gansevoort St,40.739323,-74.008119,16160,Subscriber,1992,1,00:00:00,00:23:00,2013,28,2
3,405,490.0,8 Ave & W 33 St,40.751551,-73.993934,459.0,W 20 St & 11 Ave,40.746745,-74.007756,14997,Subscriber,1973,1,00:00:00,00:07:00,2013,47,3
4,270,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,393.0,E 5 St & Avenue C,40.722992,-73.979955,19609,Subscriber,1984,1,00:00:00,00:04:00,2013,36,2

In [42]:
df_copy = cb_df.copy()
df_copy.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,stop_time,year,age,age_group
0,1010,254.0,W 11 St & 6 Ave,40.735324,-73.998004,147.0,Greenwich St & Warren St,40.715422,-74.011220,15014,Subscriber,1974,1,00:00:00,00:16:00,2013,46,3
1,1443,151.0,Cleveland Pl & Spring St,40.721816,-73.997203,497.0,E 17 St & Broadway,40.737050,-73.990093,19393,Customer,2020,0,00:00:00,00:24:00,2013,0,0
2,1387,352.0,W 56 St & 6 Ave,40.763406,-73.977225,405.0,Washington St & Gansevoort St,40.739323,-74.008119,16160,Subscriber,1992,1,00:00:00,00:23:00,2013,28,2
3,405,490.0,8 Ave & W 33 St,40.751551,-73.993934,459.0,W 20 St & 11 Ave,40.746745,-74.007756,14997,Subscriber,1973,1,00:00:00,00:07:00,2013,47,3
4,270,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,393.0,E 5 St & Avenue C,40.722992,-73.979955,19609,Subscriber,1984,1,00:00:00,00:04:00,2013,36,2

In [43]:
df_copy = pd.get_dummies(df_copy, columns=["gender", "usertype"])
df_copy.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,...,start_time,stop_time,year,age,age_group,gender_0,gender_1,gender_2,usertype_Customer,usertype_Subscriber
0,1010,254.0,W 11 St & 6 Ave,40.735324,-73.998004,147.0,Greenwich St & Warren St,40.715422,-74.011220,15014,...,00:00:00,00:16:00,2013,46,3,0,1,0,0,1
1,1443,151.0,Cleveland Pl & Spring St,40.721816,-73.997203,497.0,E 17 St & Broadway,40.737050,-73.990093,19393,...,00:00:00,00:24:00,2013,0,0,1,0,0,1,0
2,1387,352.0,W 56 St & 6 Ave,40.763406,-73.977225,405.0,Washington St & Gansevoort St,40.739323,-74.008119,16160,...,00:00:00,00:23:00,2013,28,2,0,1,0,0,1
3,405,490.0,8 Ave & W 33 St,40.751551,-73.993934,459.0,W 20 St & 11 Ave,40.746745,-74.007756,14997,...,00:00:00,00:07:00,2013,47,3,0,1,0,0,1
4,270,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,393.0,E 5 St & Avenue C,40.722992,-73.979955,19609,...,00:00:00,00:04:00,2013,36,2,0,1,0,0,1

In [44]:
df_copy = df_copy.rename(columns={"gender_1": "male", "gender_2": "female"})

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,...,start_time,stop_time,year,age,age_group,gender_0,male,female,usertype_Customer,usertype_Subscriber
0,1010,254.0,W 11 St & 6 Ave,40.735324,-73.998004,147.0,Greenwich St & Warren St,40.715422,-74.011220,15014,...,00:00:00,00:16:00,2013,46,3,0,1,0,0,1
1,1443,151.0,Cleveland Pl & Spring St,40.721816,-73.997203,497.0,E 17 St & Broadway,40.737050,-73.990093,19393,...,00:00:00,00:24:00,2013,0,0,1,0,0,1,0
2,1387,352.0,W 56 St & 6 Ave,40.763406,-73.977225,405.0,Washington St & Gansevoort St,40.739323,-74.008119,16160,...,00:00:00,00:23:00,2013,28,2,0,1,0,0,1
3,405,490.0,8 Ave & W 33 St,40.751551,-73.993934,459.0,W 20 St & 11 Ave,40.746745,-74.007756,14997,...,00:00:00,00:07:00,2013,47,3,0,1,0,0,1
4,270,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,393.0,E 5 St & Avenue C,40.722992,-73.979955,19609,...,00:00:00,00:04:00,2013,36,2,0,1,0,0,1
5,400,490.0,8 Ave & W 33 St,40.751551,-73.993934,453.0,W 22 St & 8 Ave,40.744751,-73.999154,17523,...,00:00:00,00:07:00,2013,42,2,0,1,0,0,1
6,115,351.0,Front St & Maiden Ln,40.705310,-74.006126,351.0,Front St & Maiden Ln,40.705310,-74.006126,19533,...,00:00:00,00:02:00,2013,0,0,1,0,0,1,0
7,1080,2000.0,Front St & Washington St,40.702551,-73.989402,418.0,Front St & Gold St,40.702240,-73.982578,18487,...,00:00:00,00:18:00,2013,48,3,0,0,1,0,1
8,2550,533.0,Broadway & W 39 St,40.752996,-73.987216,2021.0,W 45 St & 8 Ave,40.759291,-73.988597,19342,...,00:00:00,00:43:00,2013,71,4,0,1,0,0,1
9,1108,301.0,E 2 St & Avenue B,40.722174,-73.983688,306.0,Cliff St & Fulton St,40.708235,-74.005301,15177,...,00:00:00,00:19:00,2013,42,2,0,1,0,0,1
10,413,421.0,Clermont Ave & Park Ave,40.695734,-73.971297,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,15809,...,00:01:00,00:07:00,2013,33,2,0,1,0,0,1
11,1099,249.0,Harrison St & Hudson St,40.718710,-74.009001,489.0,10 Ave & W 28 St,40.750664,-74.001768,14588,...,00:01:00,00:19:00,2013,41,2,0,1,0,0,1
12,1626,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,401.0,Allen St & Rivington St,40.720196,-73.989978,19490,...,00:01:00,00:28:00,2013,52,3,0,1,0,0,1
13,1562,415.0,Pearl St & Hanover Square,40.704718,-74.009260,501.0,FDR Drive & E 35 St,40.744219,-73.971212,14886,...,00:01:00,00:27:00,2013,28,2,0,1,0,0,1
14,954,466.0,W 25 St & 6 Ave,40.743954,-73.991449,339.0,Avenue D & E 12 St,40.725806,-73.974225,18040,...,00:01:00,00:17:00,2013,43,2,0,1,0,0,1
15,255,494.0,W 26 St & 8 Ave,40.747348,-73.997236,509.0,9 Ave & W 22 St,40.745497,-74.001971,15025,...,00:01:00,00:05:00,2013,38,2,0,0,1,0,1
16,796,494.0,W 26 St & 8 Ave,40.747348,-73.997236,127.0,Barrow St & Hudson St,40.731724,-74.006744,16567,...,00:01:00,00:14:00,2013,52,3,0,0,1,0,1
17,163,384.0,Fulton St & Waverly Ave,40.683178,-73.965964,365.0,Fulton St & Grand Ave,40.682232,-73.961458,15106,...,00:01:00,00:04:00,2013,38,2,0,1,0,0,1
18,1233,457.0,Broadway & W 58 St,40.766953,-73.981693,254.0,W 11 St & 6 Ave,40.735324,-73.998004,17024,...,00:01:00,00:22:00,2013,44,2,0,1,0,0,1
19,1313,290.0,2 Ave & E 58 St,40.760203,-73.964785,473.0,Rivington St & Chrystie St,40.721101,-73.991925,20337,...,00:01:00,00:23:00,2013,0,0,1,0,0,1,0
20,1229,306.0,Cliff St & Fulton St,40.708235,-74.005301,312.0,Allen St & E Houston St,40.722055,-73.989111,19114,...,00:01:00,00:22:00,2013,0,0,1,0,0,1,0
21,1102,505.0,6 Ave & W 33 St,40.749013,-73.988484,499.0,Broadway & W 60 St,40.769155,-73.981918,20090,...,00:01:00,00:20:00,2013,0,0,1,0,0,1,0
22,1764,351.0,Front St & Maiden Ln,40.705310,-74.006126,417.0,Barclay St & Church St,40.712912,-74.010202,15387,...,00:01:00,00:31:00,2013,0,0,1,0,0,1,0
23,784,334.0,W 20 St & 7 Ave,40.742388,-73.997262,439.0,E 4 St & 2 Ave,40.726281,-73.989780,19376,...,00:02:00,00:15:00,2013,60,3,0,1,0,0,1
24,403,382.0,University Pl & E 14 St,40.734927,-73.992005,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,17649,...,00:02:00,00:09:00,2013,28,2,0,0,1,0,1
25,2095,496.0,E 16 St & 5 Ave,40.737262,-73.992390,469.0,Broadway & W 53 St,40.763441,-73.982681,16836,...,00:02:00,00:37:00,2013,0,0,1,0,0,1,0
26,1875,297.0,E 15 St & 3 Ave,40.734232,-73.986923,312.0,Allen St & E Houston St,40.722055,-73.989111,19565,...,00:02:00,00:34:00,2013,0,0,1,0,0,1,0
27,683,367.0,E 53 St & Lexington Ave,40.758281,-73.970694,507.0,E 25 St & 2 Ave,40.739126,-73.979738,17366,...,00:02:00,00:14:00,2013,41,2,0,1,0,0,1
28,772,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,518.0,E 39 St & 2 Ave,40.747804,-73.973442,19098,...,00:02:00,00:15:00,2013,38,2,0,0,1,0,1
29,1259,224.0,Spruce St & Nassau St,40.711464,-74.005524,401.0,Allen St & Rivington St,40.720196,-73.989978,16785,...,00:03:00,00:23:00,2013,32,2,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7578841,323,523.0,W 38 St & 8 Ave,40.754666,-73.991382,525.0,W 34 St & 11 Ave,40.755942,-74.002116,19162,...,23:56:59.714000,00:02:23.118000,2019,35,2,0,1,0,1,0
7578842,515,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3137.0,5 Ave & E 73 St,40.772828,-73.966853,28789,...,23:57:12.773000,00:05:48.284000,2019,41,2,0,1,0,0,1
7578843,399,3756.0,White St & Moore St,40.704508,-73.935100,3077.0,Stagg St & Union Ave,40.708771,-73.950953,34215,...,23:57:16.732000,00:03:56.716000,2019,23,1,0,1,0,1,0
7578844,677,513.0,W 56 St & 10 Ave,40.768254,-73.988639,305.0,E 58 St & 3 Ave,40.760958,-73.967245,33622,...,23:57:29.769000,00:08:47.171000,2019,38,2,0,1,0,0,1
7578845,1432,3080.0,S 4 St & Rodney St,40.709340,-73.956080,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,41882,...,23:57:31.426000,00:21:23.873000,2019,27,2,0,1,0,0,1
7578846,1083,453.0,W 22 St & 8 Ave,40.744751,-73.999154,446.0,W 24 St & 7 Ave,40.744876,-73.995299,29187,...,23:57:32.473000,00:15:35.848000,2019,56,3,0,1,0,0,1
7578847,781,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,3746.0,6 Ave & Broome St,40.724308,-74.004730,33067,...,23:57:37.782000,00:10:39.475000,2019,28,2,0,0,1,0,1
7578848,829,546.0,E 30 St & Park Ave S,40.744449,-73.983035,3132.0,E 59 St & Madison Ave,40.763505,-73.971092,25909,...,23:57:40.642000,00:11:30.584000,2019,38,2,0,1,0,0,1
7578849,1288,358.0,Christopher St & Greenwich St,40.732916,-74.007114,3166.0,Riverside Dr & W 72 St,40.780578,-73.985624,40249,...,23:57:42.397000,00:19:10.562000,2019,40,2,0,1,0,0,1
7578850,220,3534.0,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3521.0,Lenox Ave & W 111 St,40.798786,-73.952300,20980,...,23:57:50.396000,00:01:31.198000,2019,38,2,0,1,0,0,1
7578851,367,267.0,Broadway & W 36 St,40.750977,-73.987654,3749.0,Lexington Ave & E 36 St,40.747574,-73.978801,17283,...,23:57:51.843000,00:03:59.633000,2019,25,2,0,1,0,0,1
7578852,362,442.0,W 27 St & 7 Ave,40.746647,-73.993915,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,19405,...,23:57:54.664000,00:03:57.583000,2019,51,3,1,0,0,1,0
7578853,93,505.0,6 Ave & W 33 St,40.749013,-73.988484,492.0,W 33 St & 7 Ave,40.750200,-73.990931,27938,...,23:58:00.314000,23:59:33.963000,2019,25,2,0,1,0,0,1
7578854,1188,310.0,State St & Smith St,40.689269,-73.989129,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,25971,...,23:58:01.162000,00:17:49.274000,2019,28,2,1,0,0,0,1
7578855,377,3775.0,Suydam St & Knickerbocker Ave,40.702013,-73.923769,3074.0,Montrose Ave & Bushwick Ave,40.707678,-73.940162,41643,...,23:58:03.823000,00:04:21.543000,2019,27,2,0,0,1,0,1
7578856,179,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,41810,...,23:58:06.131000,00:01:06.088000,2019,29,2,0,1,0,0,1
7578857,190,3424.0,E 106 St & Lexington Ave,40.791976,-73.945993,3363.0,E 102 St & Park Ave,40.790483,-73.950331,34375,...,23:58:12.230000,00:01:22.847000,2019,35,2,0,0,1,0,1
7578858,140,3449.0,Eckford St & Engert Ave,40.721463,-73.948009,3727.0,Frost St & Meeker Ave,40.717662,-73.948800,28360,...,23:58:12.281000,00:00:32.539000,2019,32,2,0,1,0,0,1
7578859,852,532.0,S 5 Pl & S 5 St,40.710451,-73.960876,3066.0,Tompkins Ave & Hopkins St,40.699576,-73.947084,19110,...,23:58:12.747000,00:12:25.583000,2019,43,2,0,1,0,0,1
7578860,288,3453.0,Devoe St & Lorimer St,40.713352,-73.949103,3767.0,Powers St & Olive St,40.713230,-73.938940,34320,...,23:58:18.930000,00:03:07.357000,2019,46,3,0,1,0,0,1
7578861,632,2003.0,1 Ave & E 18 St,40.733812,-73.980544,472.0,E 32 St & Park Ave,40.745712,-73.981948,38760,...,23:58:27.320000,00:09:00.139000,2019,27,2,0,1,0,1,0
7578862,1543,3105.0,N 15 St & Wythe Ave,40.724055,-73.955736,3716.0,40 Ave & Crescent St,40.753599,-73.937956,32452,...,23:58:33.391000,00:24:16.433000,2019,51,3,1,0,0,1,0
7578863,3195,2021.0,W 45 St & 8 Ave,40.759291,-73.988597,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,14819,...,23:58:56.478000,00:52:11.874000,2019,37,2,0,1,0,0,1
7578864,954,296.0,Division St & Bowery,40.714131,-73.997047,224.0,Spruce St & Nassau St,40.711464,-74.005524,19483,...,23:59:02.420000,00:14:56.611000,2019,51,3,1,0,0,1,0
7578865,304,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,26456,...,23:59:04.283000,00:04:08.806000,2019,25,2,0,1,0,0,1
7578866,1764,3314.0,W 95 St & Broadway,40.793770,-73.971888,3161.0,W 76 St & Columbus Ave,40.780184,-73.977285,41516,...,23:59:22.767000,00:28:47.318000,2019,25,2,0,1,0,1,0
7578867,378,316.0,Fulton St & William St,40.709560,-74.006536,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,31124,...,23:59:27.927000,00:05:46.570000,2019,61,3,0,0,1,0,1
7578868,561,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,393.0,E 5 St & Avenue C,40.722992,-73.979955,30285,...,23:59:29.145000,00:08:50.807000,2019,22,1,0,1,0,1,0
7578869,311,3746.0,6 Ave & Broome St,40.724308,-74.004730,3435.0,Grand St & Elizabeth St,40.718822,-73.995960,38290,...,23:59:42.252000,00:04:54.232000,2019,31,2,0,1,0,0,1
7578870,1500,331.0,Pike St & Monroe St,40.711731,-73.991930,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,34013,...,23:59:55.374000,00:24:55.840000,2019,51,3,1,0,0,1,0

In [120]:
df_copy = pd.get_dummies(df_copy, columns=["age_group"])
df_copy.rename(columns={"age_group_1": "16-24 y/o"})
df_copy.head()

KeyError: "None of [Index(['age_group'], dtype='object')] are in the [columns]"

In [125]:
df_copy = df_copy.rename(columns={"age_group_1": "16-24 y/o", "gender_1": "male", "gender_2": "female"})
# df_copy.drop(["age_group_0", "age_group_2", "age_group_3", "age_group_4", "age_group_5"], axis=1, inplace=True)
df_copy.head()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,start_time,...,year,age,gender_0,male,female,usertype_Customer,usertype_Subscriber,start,stop,16-24 y/o
0,1010,254.0,40.735324,-73.998004,147.0,40.715422,-74.011220,15014,1974,00:00:00,...,2013,46,0,1,0,0,1,0,960,0
1,1443,151.0,40.721816,-73.997203,497.0,40.737050,-73.990093,19393,2020,00:00:00,...,2013,0,1,0,0,1,0,0,1440,0
2,1387,352.0,40.763406,-73.977225,405.0,40.739323,-74.008119,16160,1992,00:00:00,...,2013,28,0,1,0,0,1,0,1380,0
3,405,490.0,40.751551,-73.993934,459.0,40.746745,-74.007756,14997,1973,00:00:00,...,2013,47,0,1,0,0,1,0,420,0
4,270,236.0,40.728419,-73.987140,393.0,40.722992,-73.979955,19609,1984,00:00:00,...,2013,36,0,1,0,0,1,0,240,0

In [45]:
df_copy.drop(["start station name", "end station name"], axis=1, inplace=True)

In [46]:
df_copy.dtypes

tripduration                 int64
start station id           float64
start station latitude     float64
start station longitude    float64
end station id             float64
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                   int64
start_time                  object
stop_time                   object
year                         int64
age                          int64
age_group                    int64
gender_0                     uint8
gender_1                     uint8
gender_2                     uint8
usertype_Customer            uint8
usertype_Subscriber          uint8
dtype: object

In [114]:
df_copy['start'] = pd.to_timedelta(df_copy['start_time'], unit='ns').dt.total_seconds().astype(int)
df_copy['stop'] = pd.to_timedelta(df_copy['stop_time'], unit='ns').dt.total_seconds().astype(int)

In [ ]:
df_copy = pd.get_dummies(df_copy, columns=["age_group"])
df_copy.head()

Select Columns from df for Y-axis (i.e., Categories);

In [127]:
target = df_copy["16-24 y/o"]
target_names = ["16-24 y/o"]
target.head()

0    0
1    0
2    0
3    0
4    0
Name: 16-24 y/o, dtype: uint8

In [128]:
data = df_copy.drop("16-24 y/o", axis=1).copy()
data = data.drop(["stop_time", "start_time"], axis=1)
feature_names = data.columns
data.head()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,start_time,stop_time,year,age,gender_0,male,female,usertype_Customer,usertype_Subscriber,start,stop
0,1010,254.0,40.735324,-73.998004,147.0,40.715422,-74.011220,15014,1974,00:00:00,00:16:00,2013,46,0,1,0,0,1,0,960
1,1443,151.0,40.721816,-73.997203,497.0,40.737050,-73.990093,19393,2020,00:00:00,00:24:00,2013,0,1,0,0,1,0,0,1440
2,1387,352.0,40.763406,-73.977225,405.0,40.739323,-74.008119,16160,1992,00:00:00,00:23:00,2013,28,0,1,0,0,1,0,1380
3,405,490.0,40.751551,-73.993934,459.0,40.746745,-74.007756,14997,1973,00:00:00,00:07:00,2013,47,0,1,0,0,1,0,420
4,270,236.0,40.728419,-73.987140,393.0,40.722992,-73.979955,19609,1984,00:00:00,00:04:00,2013,36,0,1,0,0,1,0,240

##### Split data into training and testing datasets

In [131]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

##### Run Decision Tree and Random Forests Models

In [132]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

##### Run K Nearest Neighbor Model

In [ ]:
y = df_copy["age_group"]
target_names = ["Uknown", "16-24", "25-44", "45-64", "65+"]
target.head()

In [ ]:
X = df_copy.drop(["stop_time", "start_time","age_group"], axis=1).copy()
X.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Loop through different k values to see which has the highest accuracy
# Note: We only use odd numbers because we don't want any ties
train_scores = []
test_scores = []
for k in range(1, 20, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    train_score = knn.score(X_train, y_train)
    test_score = knn.score(X_test, y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")
    
    
plt.plot(range(1, 20, 2), train_scores, marker='o')
plt.plot(range(1, 20, 2), test_scores, marker="x")
plt.xlabel("k neighbors")
plt.ylabel("Testing accuracy Score")
plt.show()

In [ ]:
#### Run KNN model
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(X_train, y_train)
print('k=13 Test Acc: %.3f' % knn.score(X_test, y_test))